
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12" id="vehicle-form">

        </div>
    </div>
</div>

@section scripts {

    <script type="text/javascript">

        const $formContainer = $('#vehicle-form');
        var VehicleTransMode = '';

         $(document).ready(function () {

            fn_vehicleRepo_initialLoad();


        });
        function fn_showFilter() {
            let $thisForm = $('[perfect-class="form"]');
            $thisForm.closest('.jq_leadgeneration_body').find('.leadformSesction').toggleClass('d-none');
        }

        function fn_vehicleRepo_initialLoad() {
            VehicleTransMode ='@ViewBag.TransMode';
            LoadAddVehicleRepo();
            
        }
        var validationMessage = {
            'FromDate': {
                'required': 'Please enter Purchase From Date'
            },
            'ToDate': {
                'required': 'Please enter Purchase To Date'
            },
            'FK_Mode': {
                'required': 'Please select Report name'
            }
        }

        function LoadAddVehicleRepo() {
           
             $formContainer.load('@Url.Action("LoadVehicleRepo", "VehicleReport")?mtd=@ViewBag.mtd' + '&TransMode=@ViewBag.TransMode', function () {
                let $thisForm = $(this).find('[perfect-class="form"]');
                $thisForm.validate({ messages: validationMessage });
                  $thisForm.find('[name="FromDate"]').val(moment().format('YYYY-MM-DD'));
                  $thisForm.find('[name="ToDate"]').val(moment().format('YYYY-MM-DD'));

                 $thisForm.attr('perfect-onFormSuccess', 'fn_vehicleRepo_initialLoad');

            });
        }
    </script>
    }