@*/*----------------------------------------------------------------------
    Created By	: Amritha AK
    Created On	: 30/03/2022
    Purpose		:  userpassword reset
    -------------------------------------------------------------------------
    Modification
    On			By					OMID/Remarks
    -------------------------------------------------------------------------
    -------------------------------------------------------------------------*/*@

@model PerfectWebERP.Models.UserPasswordresetModel.UserpasswordResetView


<style>
</style>

<div class="card ">

    <div class="card-header">
        <h4 class="card-title col-12">Reset Password<span class=""> @*perfect-class="formTitle">ADD*@</span></h4>
    </div>
    <div class="card-body">
        <form id="" class="form-valide" perfect-class="form" action="#" method="post" perfect-onFormSuccess="">
            <div class="">
                @Html.AntiForgeryToken()
                <div class="row">
                  

                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">User Code</span>
                                <span class="text-danger">*</span>
                            </label>
                            @*<div class="col-sm-8">
            <input type="text" class="form-control perfectValidate_userCode" placeholder="" name="UserCode" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
        </div>*@
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control " name="UserCode" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" disabled />
                                    <input type="hidden" name="UserID" class="perfectValidate_numeric" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                                    <div class="input-group-append">
                                        <button id="add-jq-searchButton3" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="getusercode(this)"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                   



                </div>
                <div class="card-footer text-right" perfect-class="formFooter">
                    @*<button id="" type="button" class="btn btn-primary mr-3 addcompany-jq-addnewuserresetpasswordUpdate d-none" name="update" perfect-css="button" onclick=""><i class="fa fa-refresh fa-spin loaderClass"></i>Update</button>*@
                    <button id="addcompany-jq-addnewuser" type="button" class="btn btn-primary mr-3 " name="add" perfect-css="button" onclick="fn_userspasswordresetForm_update(this)"><i class="fa fa-refresh fa-spin loaderClass "></i>Save</button>
                    <button type="button" class="btn btn-light" perfect-css="button" onclick="ResetButton(this)" name="reset">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/Scripts/jqDOM/searchDOMCreation.js"></script>
<script>

 //on load functions
    (function () {
        //jQuery('form').validate();//<-----  Validate/initialize our form on page load
        jQuery('select').selectpicker();
    })();


    function ResetButton(ele) {


        let $thisForm = $(ele).closest('[perfect-class="form"]');
        let pData = $thisForm.data('pData');
        if (pData) {
            $.each(pData, function (oneKey, onevalue) {
                if ($thisForm.find('[name=' + oneKey + ']').attr('perfect-ctype') == 'date') {
                    //console.log(oneKey + '|' + onevalue + "|" + moment(onevalue).format('YYYY-MM-DD'));
                    $thisForm.find('[name=' + oneKey + ']').val(moment(onevalue).format('YYYY-MM-DD'));
                }
                else if ($thisForm.find('[name=' + oneKey + ']').attr('perfect-ctype') == 'select') {
                    $thisForm.find('[name=' + oneKey + ']').val(onevalue).selectpicker('refresh');
                }
                else {
                    // console.log(oneKey + '|' + onevalue);
                    $thisForm.find('[name=' + oneKey + ']').val(onevalue);
                }

            });
        }
        else {
            $thisForm.find('[perfect-ctype="select"]').val('').selectpicker('refresh');
            $thisForm.find('[perfect-ctype="input"]').val('');
            $thisForm.find('[perfect-ctype="date"]').val('');
        }
        $thisForm.validate().resetForm();

    }

 // Function to Add users

    function fn_userspasswordresetForm_update(ele) {
         let $thisForm = $(ele).closest('[perfect-class="form"]');//<------Form element :  Our Form which contain our input elements ,saved in a variable for reusability


            //$(ele).find('i').removeClass();

            console.log('> Add Userspasswordreset form IS valid', $thisForm.valid())
        if ($thisForm.valid()) {//<---------Validation :  To Check whether the form is vaild(ie; values in the form contrls are valid)

            $(ele).prop('disabled', true); // avoiding form submit the double click


            var inputData = {//<---- Input Json : this is the variable we pass to controller
                __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                UserID: $thisForm.find('[name=UserID]').val().trim(),
                UserCode: $thisForm.find('[name=UserCode]').val().trim(),

            };


            console.log('> Add Userspassword reset ajax input',inputData);

             $.ajax({
                 url: "@Url.Action("Adduserpasswordreset", "UserPasswordreset")",
                type: "POST",

                 data: inputData,//<---- Input json : data passed to controller
                dataType: "json",
                 contentType: 'application/x-www-form-urlencoded;charset=utf-8',
                 success: function (ajaxOutput) {//<----- if ajax method executed succesfully,  we get the data passed from controller in this variable  => success: function (variable) {

                     if (ajaxOutput.Process.IsProcess) {

                         //$.each(ajaxOutput.Process.Message, function (key, value) {

                         //    NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': value });
                         //});
                         //--------message showing password after insertion success----//
                         if (ajaxOutput.Process.Message[1]) {
                           //  alert(ajaxOutput.Process.Message[1]);
                             let $modal = createSearchModalDOM();

                             let $message = '<span>Your password is <span class="text-primary">' + ajaxOutput.Process.Message[1] + '</span> ,Please Change After First Log in</span>';
                             $modal.modal.find('.modal-body')
                                 .addClass('text-black')
                                 .html($message);
                             $modal.modal.find('.modal-title')
                                 .addClass('text-primary')
                                 .text('Message');

                             $modal.modal.show();

                         }
                         //-------------------------------------//
                         $thisForm.find('[perfect-ctype="select"]').val('').selectpicker('refresh');
                         $thisForm.find('[perfect-ctype="input"]').val('');
                         $thisForm.find('[perfect-ctype="digit"]').val('');



                         let onSuccess = $thisForm.attr('perfect-onFormSuccess')

                         if (onSuccess) {
                             window[onSuccess]($thisForm);
                         }

                         //---------- Do stuff if success

                         console.log('> Add new user password reset success data', ajaxOutput);
                     }
                     else {
                         $.each(ajaxOutput.Process.Message, function (key, value) {
                             //toastr.warning(value, "Error");
                             NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                         });
                     }
                },
                complete: function () {
                    $(ele).prop('disabled', false);
                }

            });

        }

        }


 // Function to Update users

    function getusercode(ele) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');

               //console.log("Input data",inputData)

                $.ajax({
                 url: '@Url.Action("GetUserCodeList", "UserPasswordreset")',//<----- Controller URL : url path in our controller eq: /Home/InsertSampleData or http://localhost:64212/Home/InsertSampleData
                    type: "GET",
                   dataType: "json",
                    contentType: "application/x-www-form-urlencoded;charset=utf-8",
                    success: function (ajaxOutput) {//<----- if ajax method executed succesfully,  we get the data passed from controller in this variable  => success: function (variable) {
                       // console.log("Data", data);

                        if (ajaxOutput.Process.IsProcess) {
                            var countryModel = createSelectList({ data: ajaxOutput.Data, hideColumn: ['UserID'] });
                            countryModel.then(function (ret) {
                                if (ret) {
                                    console.log('>_ Search button > list click', ret);
                                    $thisForm.find('[name=UserID]').val(ret.UserID);
                                    $thisForm.find('[name=UserName]').val(ret.UserName);
                                    $thisForm.find('[name=UserCode]').val(ret.UserCode);
                                    $thisForm.find('[name=Branch]').val(ret.Branch);
                                    
                                    //clear other field
                                   
                                }
                                else {
                                    console.log(ret);
                                }
                            });
                        }
                        else {
                            $.each(ajaxOutput.Process.Message, function (key, value) {
                                NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                            });
                        }





                },


            });


    }


</script>


