

<style>
    .dataTables_wrapper {
        min-width: 100%;
        overflow-x: auto;
    }

    .btn-group > .btn:not(:last-child), .btn-group > .btn-group:not(:last-child) > .btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background-color: white;
        color: #e94560;
    }

    .btn-group > .btn:not(:first-child), .btn-group > .btn-group:not(:first-child) > .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: white;
        color: #e94560;
    }

    .btn-primary:hover, .btn-primary:active {
        background-color: var(--primary);
        border-color: var(--primary);
    }




    /*new*/
    section {
	 /*padding: 100px 0;*/
}
 
 .timeline {
	 position: relative;
}
    .timeline::before {
        content: '';
        background: #b8c9cb;
        width: 5px;
        height: 95%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
 .timeline-item {
	 width: 100%;
	 margin-bottom: 70px;
}
 .timeline-item:nth-child(even) .timeline-content {
	 float: right;
	 padding: 40px 30px 10px 30px;
}
    .timeline-item:nth-child(even) .timeline-content .date {
        /*right: auto;
	 left: 0;*/
        float: left;
    }
 .timeline-item:nth-child(even) .timeline-content::after {
	 content: '';
	 position: absolute;
	 border-style: solid;
	 width: 0;
	 height: 0;
	 top: 30px;
	 left: -15px;
	 border-width: 10px 15px 10px 0;
	 border-color: transparent #f5f5f5 transparent transparent;
}
 .timeline-item::after {
	 content: '';
	 display: block;
	 clear: both;
}
 .timeline-content {
	 position: relative;
	 width: 45%;
	 padding: 10px 30px;
	 border-radius: 4px;
	 background: #f5f5f5;
	 box-shadow: 0 20px 25px 20px rgba(0, 0, 0, .3);
}
 .timeline-content::after {
	 content: '';
	 position: absolute;
	 border-style: solid;
	 width: 0;
	 height: 0;
	 top: 30px;
	 right: -15px;
	 border-width: 10px 0 10px 15px;
	 border-color: transparent transparent transparent #f5f5f5;
}
    .timeline-img {
        width: 30px;
        height: 30px;
        background: #7fbabf;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        margin-top: 25px;
        margin-left: -15px;
    }
 /*a {
	 background: #3f51b5;
	 color: #fff;
	 padding: 8px 20px;
	 text-transform: uppercase;
	 font-size: 14px;
	 margin-bottom: 20px;
	 margin-top: 10px;
	 display: inline-block;
	 border-radius: 2px;
	 box-shadow: 0 1px 3px -1px rgba(0, 0, 0, .6);
}*/
 a:hover, a:active, a:focus {
	 /*background: #32408f;*/
	 color: #fff;
	 text-decoration: none;
}
 .timeline-card {
	 padding: 0 !important;
}
 .timeline-card p {
	 padding: 0 20px;
}
 .timeline-card a {
	 margin-left: 20px;
}
 .timeline-item .timeline-img-header {
	 background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4)), url('https://picsum.photos/1000/800/?random') center center no-repeat;
	 background-size: cover;
}
 .timeline-img-header {
	 height: 200px;
	 position: relative;
	 margin-bottom: 20px;
}
 .timeline-img-header h2 {
	 color: #fff;
	 position: absolute;
	 bottom: 5px;
	 left: 20px;
}
 blockquote {
	 margin-top: 30px;
	 color: #757575;
	 border-left-color: #3f51b5;
	 padding: 0 20px;
}
    .date {
        background: #2e666a;
        display: inline-block;
        color: #fff;
        padding: 10px;
        position: absolute;
        top: 0;
        right: 0;
    }
 

</style>

<div >

   
        <h4 class="card-title col-12">Ticket History</h4>
  
  <br /><br />
        <form id="" class="form-valide" perfect-class="form" action="#" method="post" perfect-onFormSuccess="">
            @*<div class="row" id="tickethis">



            </div>*@
            <section class="timeline">
                <div class="container">
                    <div class="timeline-item">
                        <div class="timeline-img"></div>
                        <div class="timeline-content js--fadeInLeft">
                            <h2>Title</h2>
                            <div class="date">1 MAY 2016</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                            <a class="bnt-more" href="javascript:void(0)">More</a>
                        </div>
                    </div>

                    <div class="timeline-item">
                        <div class="timeline-img"></div>
                        <div class="timeline-content js--fadeInRight">
                            <h2>Title</h2>
                            <div class="date">1 MAY 2016</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                            <a class="bnt-more" href="javascript:void(0)">More</a>
                        </div>
                    </div>

                    <div class="timeline-item">
                        <div class="timeline-img"></div>
                        <div class="timeline-content js--fadeInLeft">
                            <h2>Title</h2>
                            <div class="date">1 MAY 2016</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                            <a class="bnt-more" href="javascript:void(0)">More</a>
                        </div>
                    </div>

                    <div class="timeline-item">

                        <div class="timeline-img"></div>

                        <div class="timeline-content timeline-card js--fadeInRight">
                            <div class="timeline-img-header">
                                <h2>Card Title</h2>
                            </div>
                            <div class="date">25 MAY 2016</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                            <a class="bnt-more" href="javascript:void(0)">More</a>
                        </div>

                    </div>

                    <div class="timeline-item">

                        <div class="timeline-img"></div>

                        <div class="timeline-content js--fadeInLeft">
                            <div class="date">3 JUN 2016</div>
                            <h2>Quote</h2>
                            <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta explicabo debitis omnis dolor iste fugit totam quasi inventore!</blockquote>
                        </div>
                    </div>

                    <div class="timeline-item">

                        <div class="timeline-img"></div>

                        <div class="timeline-content js--fadeInRight">
                            <h2>Title</h2>
                            <div class="date">22 JUN 2016</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                            <a class="bnt-more" href="javascript:void(0)">More</a>
                        </div>
                    </div>

                    <div class="timeline-item">

                        <div class="timeline-img"></div>

                        <div class="timeline-content timeline-card js--fadeInLeft">
                            <div class="timeline-img-header">
                                <h2>Card Title</h2>
                            </div>
                            <div class="date">10 JULY 2016</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                            <a class="bnt-more" href="javascript:void(0)">More</a>
                        </div>
                    </div>

                    <div class="timeline-item">

                        <div class="timeline-img"></div>

                        <div class="timeline-content timeline-card js--fadeInRight">
                            <div class="timeline-img-header">
                                <h2>Card Title</h2>
                            </div>
                            <div class="date">30 JULY 2016</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                            <a class="bnt-more" href="javascript:void(0)">More</a>
                        </div>
                    </div>

                    <div class="timeline-item">

                        <div class="timeline-img"></div>

                        <div class="timeline-content js--fadeInLeft">
                            <div class="date">5 AUG 2016</div>
                            <h2>Quote</h2>
                            <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta explicabo debitis omnis dolor iste fugit totam quasi inventore!</blockquote>
                        </div>
                    </div>

                    <div class="timeline-item">

                        <div class="timeline-img"></div>

                        <div class="timeline-content timeline-card js--fadeInRight">
                            <div class="timeline-img-header">
                                <h2>Card Title</h2>
                            </div>
                            <div class="date">19 AUG 2016</div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                            <a class="bnt-more" href="javascript:void(0)">More</a>
                        </div>
                    </div>

                    <div class="timeline-item">

                        <div class="timeline-img"></div>

                        <div class="timeline-content js--fadeInLeft">
                            <div class="date">1 SEP 2016</div>
                            <h2>Title</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.</p>
                            <a class="bnt-more" href="javascript:void(0)">More</a>
                        </div>
                    </div>



                </div>
            </section>
        </form>
    
</div>

<script>
    $(function () {

        window.sr = ScrollReveal();

        if ($(window).width() < 768) {

            if ($('.timeline-content').hasClass('js--fadeInLeft')) {
                $('.timeline-content').removeClass('js--fadeInLeft').addClass('js--fadeInRight');
            }

            sr.reveal('.js--fadeInRight', {
                origin: 'right',
                distance: '300px',
                easing: 'ease-in-out',
                duration: 800,
            });

        } else {

            sr.reveal('.js--fadeInLeft', {
                origin: 'left',
                distance: '300px',
                easing: 'ease-in-out',
                duration: 800,
            });

            sr.reveal('.js--fadeInRight', {
                origin: 'right',
                distance: '300px',
                easing: 'ease-in-out',
                duration: 800,
            });

        }

        sr.reveal('.js--fadeInLeft', {
            origin: 'left',
            distance: '300px',
            easing: 'ease-in-out',
            duration: 800,
        });

        sr.reveal('.js--fadeInRight', {
            origin: 'right',
            distance: '300px',
            easing: 'ease-in-out',
            duration: 800,
        });


    });

    //load fn
    $(document).ready(function () {
       getTickethistoryInfo(this)
    });
    (function () {


    })();


    var TicketNo;
    var oldValue = 0;
    var employeevl = 0;
    var modt = 0;
    function getTickethistoryInfo(ele) {

         InputData = {
             TicketNo: TicketNo,
                 
                };


                $.ajax({
                    url: "@Url.Action("GetTicket", "Tickethistory")",
                    type: "Get",
                    data: InputData,
                    dataType: "json",
                    contentType: "application/json",
                    success: function (ajaxOutput) {
                    
                        if (ajaxOutput != null) {
                            let dtable = JSON.parse(ajaxOutput.Data).dtable;


                            for (var i = 0; i < dtable.length; i++) {
                                console.log('dtable', dtable[i])
                                if (dtable[i].Mode == 0) {

                                    modt = 0;
                                    var div = document.createElement("div");
                                    div.className = "process-list col-12";

                                    var div1 = document.createElement("div");
                                    div1.className = "item1 w-180"

                                    var text = document.createTextNode(dtable[i].TicketNo);
                                    var br1 = document.createElement('br');
                                    var text1 = document.createTextNode("on");
                                    var br2 = document.createElement('br');
                                    var text3 = document.createTextNode(dtable[i].TransDate);

                                    div1.appendChild(text);
                                    div1.appendChild(br1);
                                    div1.appendChild(text1);
                                    div1.appendChild(br2);
                                    div1.appendChild(text3);


                                    var div2 = document.createElement("div");
                                    div2.className = "process-item";
                                    var div3 = document.createElement("div");
                                    div3.className = "list1";
                                    var ul = document.createElement('ul');
                                    ul.className = "list-unstyled";
                                    var li1 = document.createElement("li");
                                    li1.appendChild(document.createTextNode("Customer  : " + dtable[i].CusName));
                                    var li2 = document.createElement("li");
                                    li2.appendChild(document.createTextNode("Address   : " + dtable[i].Address));
                                    var li3 = document.createElement("li");
                                    li3.appendChild(document.createTextNode("Mobile No : " + dtable[i].Mobile));
                                    var li4 = document.createElement("li");
                                    li4.appendChild(document.createTextNode("Product   : " + dtable[i].Product));
                                    var li5 = document.createElement("li");
                                    if (dtable[i].ComplaintMode == "Complaint") {
                                        li5.appendChild(document.createTextNode("Complaint : " + dtable[i].Complaint));
                                    }
                                    else {
                                        li5.appendChild(document.createTextNode("Service : " + dtable[i].Complaint));
                                    }

                                    ul.appendChild(li1);
                                    ul.appendChild(li2);
                                    ul.appendChild(li3);
                                    ul.appendChild(li4);
                                    ul.appendChild(li5);

                                    div3.appendChild(ul);
                                    div2.appendChild(div3);

                                    div.appendChild(div1);
                                    div.appendChild(div2);

                                    document.getElementById('tickethis').appendChild(div);


                                }

                                var ulz;
                                
                                if (dtable[i].Mode == 1) {
                                   
                                    if (oldValue != dtable[i].MasterID) {
                                        oldValue = dtable[i].MasterID;
                                        employeevl = dtable[i].EmployeeID;
                                        let div = document.createElement("div");
                                        div.className = "process-list col-12";

                                        let div1 = document.createElement("div");                                       
                                        div1.className = "item2 w-180 red-orange-d-bg";                                        
                                        let text = document.createTextNode("Scheduled");
                                        let br1 = document.createElement('br');
                                        let text1 = document.createTextNode("to");
                                        let br2 = document.createElement('br');
                                        let text3 = document.createTextNode(dtable[i].TransDate);
                                        let span = document.createElement('span');
                                        
                                            span.className= "spot";
                                       
                                      

                                        div1.appendChild(text);
                                        div1.appendChild(br1);
                                        div1.appendChild(text1);
                                        div1.appendChild(br2);
                                        div1.appendChild(text3);
                                        div1.appendChild(span);
                                        let div2 = document.createElement("div");
                                        div2.className = "process-item red-orange-l-bg";
                                        let div3 = document.createElement("div");
                                        div3.className = "red-orange list1";
                                        ulz = document.createElement('ul');
                                        ulz.className = "list-unstyled";
                                        let text4 = document.createElement("b");
                                        text4.innerHTML = "EMPLOYEE LIST";
                                      //  let text4 = document.createTextNode("<b>EMPLOYEE LIST</b>");
                                       
                                        let br = document.createElement('br');
                                        ulz.appendChild(text4);
                                        ulz.appendChild(br);
                                        let li1 = document.createElement("li");
                                        li1.appendChild(document.createTextNode(dtable[i].Employee));

                                        ulz.appendChild(li1);

                                        div3.appendChild(ulz);
                                        div2.appendChild(div3);

                                        div.appendChild(div1);
                                        div.appendChild(div2);

                                        document.getElementById('tickethis').appendChild(div);


                                    }
                                    else {
                                        if (employeevl != dtable[i].EmployeeID) {
                                            var li = document.createElement("li");
                                            li.appendChild(document.createTextNode(dtable[i].Employee));
                                            ulz.appendChild(li);
                                        }

                                    }
                                    modt = 1;
                                }
                              
                                if (dtable[i].Mode == 2) {


                                    let div = document.createElement("div");
                                    div.className = "process-list col-12";

                                    let div1 = document.createElement("div");
                                   
                                    div1.className = "item4  w-180 green-d-bg"
                                   

                                    let text = document.createTextNode(dtable[i].Status);
                                    let br1 = document.createElement('br');
                                    let text1 = document.createTextNode("on");
                                    let br2 = document.createElement('br');
                                    let text3 = document.createTextNode(dtable[i].TransDate);
                                    var span = document.createElement('span');
                                    span.className = "spot"

                                    div1.appendChild(text);
                                    div1.appendChild(br1);
                                    div1.appendChild(text1);
                                    div1.appendChild(br2);
                                    div1.appendChild(text3);
                                    div1.appendChild(span);


                                    let div2 = document.createElement("div");
                                    div2.className = "process-item green-l-bg";
                                    let div3 = document.createElement("div");
                                    div3.className = "green list1";
                                    let ul = document.createElement('ul');
                                    ul.className = "list-unstyled";
                                    let li1 = document.createElement("li");
                                    li1.appendChild(document.createTextNode("Employee  : " + dtable[i].Employee));
                                    let li2 = document.createElement("li");
                                    li2.appendChild(document.createTextNode("Remarks   : " + dtable[i].Description));
                                    let li3 = document.createElement("li");
                                    li3.appendChild(document.createTextNode("Status : " + dtable[i].Action));
                                   

                                    ul.appendChild(li1);
                                    ul.appendChild(li2);
                                    ul.appendChild(li3);
                                  
                                    div3.appendChild(ul);
                                    div2.appendChild(div3);

                                    div.appendChild(div1);
                                    div.appendChild(div2);

                                    document.getElementById('tickethis').appendChild(div);

                                    modt = 2;
                                }

                                if (dtable[i].Mode == 3) {


                                    let div = document.createElement("div");
                                    div.className = "process-list col-12";

                                    let div1 = document.createElement("div");
                                   
                                        div1.className = "item3  w-180 blue-d-bg"
                                  
                                    let text = document.createTextNode(dtable[i].Status);
                                    let br1 = document.createElement('br');
                                    let text1 = document.createTextNode("on");
                                    let br2 = document.createElement('br');
                                    let text3 = document.createTextNode(dtable[i].TransDate);
                                    var span = document.createElement('span');
                                    span.className = "spot"

                                    div1.appendChild(text);
                                    div1.appendChild(br1);
                                    div1.appendChild(text1);
                                    div1.appendChild(br2);
                                    div1.appendChild(text3);
                                    div1.appendChild(span);


                                    let div2 = document.createElement("div");
                                    div2.className = "process-item blue-l-bg";
                                    let div3 = document.createElement("div");
                                    div3.className = "blue list1";
                                    let ul = document.createElement('ul');
                                    ul.className = "list-unstyled";
                                    let li1 = document.createElement("li");
                                    li1.appendChild(document.createTextNode("Employee  : " + dtable[i].Employee));
                                    let li2 = document.createElement("li");
                                    li2.appendChild(document.createTextNode("Remarks   : " + dtable[i].Description));
                                    let li3 = document.createElement("li");
                                    li3.appendChild(document.createTextNode("Status : " + dtable[i].Action));


                                    ul.appendChild(li1);
                                    ul.appendChild(li2);
                                    ul.appendChild(li3);

                                    div3.appendChild(ul);
                                    div2.appendChild(div3);

                                    div.appendChild(div1);
                                    div.appendChild(div2);

                                    document.getElementById('tickethis').appendChild(div);


                                }
                                }
                            }
                        
                        else {
                            $.each(ajaxOutputclick.Process.Message, function (key, value) {
                                NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                            });
                        }
                    },
                    complete: function () {
                       
                    }
                });
            }
        

    //TicketNo	MasterID	CusName	Address	Mobile	ComplaintMode	Product	Complaint	Description	Employee	Mode	TransDate	Status	EnteredOn	Action
    //TKT103	3	AIswarya	ABCD homes	9966225511, 6282902291	Complaint	Solar Panel	Device Problem	Urgent case 0	17 / 06 / 2022	New	2022 - 06 - 17 15: 09: 14.397
    //TKT103	3							Returned	VYSHAKH PN(Service Specialist - Customer service)	1	20 / 06 / 2022	Assigned	2022 - 06 - 17 15: 50: 33.273
    //TKT103	5							123	VYSHAKH PN(Service Specialist - Customer service)	1	20 / 06 / 2022	Assigned	2022 - 06 - 18 10: 17: 03.990
    //TKT103	5							123	Amritha(Srvice Engineer - Customer service)	1	20 / 06 / 2022	Assigned	2022 - 06 - 18 10: 17: 03.990
    //TKT103	3.No comments	Amritha	2	18 / 06 / 2022	Completed 	2022 - 06 - 18 10: 17: 58.723	Completed


</script>
