@model PerfectWebERP.Models.FinancePlanModel.FinancePlanList

<div class="card ">

    <div class="card-header">
        <h4 class="card-title col-12">Finance Plan</h4>
    </div>

    <div class="card-body">
        <form id="" class="form-valide" perfect-class="form" action="#" method="post" perfect-onFormSuccess="">
            <div class="">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-xl-6">
                        <div class="form-group row" perfect-class="formGroup">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
                

