@model PerfectWebERP.Models.TicketModel

<div class="card ">

    <div class="card-header">
        <h4 class="card-title col-12">Ticket Report<span class="badge light badge-success float-right" perfect-class="formTitle">REPORT</span></h4>
    </div>
    <div class="card-body">
        <form id="" class="form-valide" perfect-class="form" action="#" method="post" perfect-onFormSuccess="">
            <div class="">
                @*@Html.AntiForgeryToken()*@
                <div class="row">


                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">From Date</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control perfectValidate_date" id="FromDate" name="FromDate" perfect-class="formGroupControl" perfect-ctype="date" perfect-css="date">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">To Date</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control perfectValidate_date" id="ToDate" name="ToDate" perfect-class="formGroupControl" perfect-ctype="date" perfect-css="date">
                            </div>
                        </div>
                    </div>



                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Ticket Number</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control perfectValidate_string" id="TicketNo" name="TicketNo" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select">

                                    <option value="">Please Select</option>
                                    <option value="1">PDF</option>
                                    <option value="2">Excel</option>

                                </select>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
            <div class="card-footer text-right" perfect-class="formFooter">
                <button id="addcompany-jq-addnewuser" type="button" class="btn btn-primary mr-3 " name="add" perfect-css="button" @*onclick="getreport(this)"*@><i class="fa fa-refresh fa-spin loaderClass "></i>Get</button>
                <button type="button" class="btn btn-light" perfect-css="button" @*onclick="ResetButton(this)"*@ name="reset">Clear</button>
            </div>
        </form>
    </div>


</div>

