@model PerfectWebERP.Models.ServiceListModel.ServiceListView


<div class="card ">

    <div class="card-header">
        @*<h4 class="card-title col-12">Purchase<span class="badge light badge-success float-right" perfect-class="formTitle">ADD</span></h4>*@
    </div>
    <div class="card-body">
        @*<form id="" class="form-valide" perfect-class="form" action="#" method="post" perfect-onFormSuccess="">*@
        <div class="">
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-sm-8 d-md-flex">
                    <input class="form-control input-rounded mr-auto mb-md-0 mb-3" name="Content" type="text" placeholder="Search by Ticket, product or customer...">
                </div>
                <div class="col-sm-4 d-md-flex">
                    <button type="button" class="btn btn-sm btn-rounded btn-primary" onclick="Filter(this);">
                        <span class="btn-icon-left text-primary">
                            <i class="fa fa-filter"></i>
                        </span> Filter
                    </button>
                    &nbsp;&nbsp; &nbsp;&nbsp;
                    <button type="button" class="btn btn-sm btn-rounded btn-primary" onclick="SearchUsingKeyWord(this);">
                        <span class="btn-icon-left text-primary">
                            <i class="fa fa-search"></i>
                        </span> Search
                    </button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <div class="d-flex flex-wrap mb-4 align-items-center search-filter">
                        <div class="mr-auto mb-2 pr-2" style="display:none;" id="TicketCountParent">
                            <h6 class="text-black fs-16 font-w600 mb-1" id="TicketCount"></h6><span class="fs-14">Based your preferences</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-sm table-responsive-lg mb-0 text-black" id="Tblsearchresult">
                                    <thead>
                                        <tr>
                                            <th class="align-middle">
                                                SI.No.
                                            </th>
                                            <th class="align-middle">Ticket No.</th>
                                            <th class="align-middle pr-7">Ticket Date</th>
                                            <th class="align-middle ">Customer</th>
                                            <th class="align-middle ">Contact No</th>
                                            <th class="align-middle ">Description</th>
                                            <th class="align-middle ">Action</th>
                                            <th class="no-sort"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="Tblsearchresultbody">
                                        <tr id="0"><td colspan="7" style="text-align:center;">No Records..</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Filters</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span>×</span>
                            </button>
                        </div>
                        <form class="form-valide" perfect-class="form-Filter" action="#" method="post" perfect-onFormSuccess="">
                            <div class="modal-body">

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Ticket Number</label>
                                        <input type="text" name="Ticket" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Product</label>
                                        <input type="text" name="Product" class="form-control" placeholder="">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Customer</label>
                                        <input type="text" name="Customer" class="form-control" placeholder="">
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>From Date</label>
                                        <input type="date" class="form-control perfectValidate_date" name="fromdate" perfect-class="formGroupControl" perfect-ctype="date" perfect-css="date">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>To Date</label>
                                        <input type="date" class="form-control perfectValidate_date" name="todate" perfect-class="formGroupControl" perfect-ctype="date" perfect-css="date">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label> status</label>
                                        <select class="form-control" name="Complaintstatus">
                                            <option>Please select</option>
                                            <option>Pending</option>
                                            <option>Assigned</option>
                                        </select>
                                    </div>

                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" onclick="Searchtableresult(this);" class="btn btn-primary">Apply</button>
                                <button type="button" class="btn btn-danger light" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
            <div class="card-footer text-right" perfect-class="formFooter">
                <button id="" type="button" class="btn btn-primary mr-3 addcompany-jq-addnewuserUpdate d-none" name="update" perfect-css="button" onclick="fn_PurchaseForm_update(this)"><i class="fa fa-refresh fa-spin loaderClass"></i>Update</button>
                <button id="addcompany-jq-addnewuser" type="button" class="btn btn-primary mr-3 " name="add" perfect-css="button" onclick="fn_PurchaseForm_add(this)"><i class="fa fa-refresh fa-spin loaderClass "></i>Save</button>
                <button type="button" class="btn btn-light" perfect-css="button" onclick="ResetButton(this)" name="reset">Clear</button>
            </div>
        @*</form>*@
    </div>
</div>


<script>

    $(document).ready(function () {

       // SearchUsingKeyWord();
    });

    function Filter(ele) {

        $('.bd-example-modal-sm').modal('show');
    }



   
        

</script>