
@model PerfectWebERP.Models.HomeModel.FileUploadDocs
<style>


    .container {
        /*padding-top: 3%;*/
    }

    .hide-element {
        display: none;
    }

    .imgdlt {
        width: 100%;
        margin-top: 20px;
        color: red;
    }


    .glyphicon-remove-circle {
        float: right;
        font-size: 2em;
        cursor: pointer;
    }

    i:after {
        color: blue;
    }

    .media-left {
        width: 30%;
        height: 60px;
        margin-right: 1%;
    }

    .imgupdesc {
        width: 70%;
    }

    .media-object {
        width: 100%;
        height: 100%;
    }

    .deleteItm {
        width: 30%;
    }

    .btn-file {
        position: relative;
        overflow: hidden;
        /*box-shadow: 10px 10px 5px #888888;*/
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            background: white;
            cursor: inherit;
            display: block;
        }

    .alert,
    .well {
        box-shadow: 1px 2px 5px;
        -moz-box-shadow: 1px 2px 5px;
        -webkit-box-shadow: 1px 2px 5px;
        min-height: 20px;
        padding: 19px;
        margin-top: 0;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
    }

    #uploadDataInfo p {
        margin-left: 2%;
        margin-top: 3%;
        font-size: 1.2em;
    }

    .media-left #edit {
        z-index: 1000;
        cursor: pointer;
    }

    .thumbnail #edit {
        position: absolute;
        display: inline;
        z-index: 1000;
        top: 1px;
        right: 15px;
        cursor: pointer;
    }

    .thumbnail #delete {
        position: absolute;
        display: inline;
        z-index: 1000;
        margin-top: 4%;
        top: 20px;
        right: 15px;
        cursor: pointer;
    }

    .caption input[type="text"] {
        /*width: 80%;*/
    }

    .thumbnail .fa-check-circle {
        color: #006dcc;
        *color: #0044cc;
    }

    .thumbnail .fa-times-circle {
        color: #E74C3C;
    }

    .media {
        padding: 2px;
        border: 1px solid #d2c5c5;
        background: whitesmoke;
        /*border-radius: 4px;*/
    }


    /*.modal-header .close {
            float: right !important;
            margin-right: -30px !important;
            margin-top: -25px !important;
            background-color: white !important;
            border-radius: 15px !important;
            width: 30px !important;
            height: 30px !important;
            opacity: 1 !important;
        }

        .modal-header {
            padding: 0px;
            min-height: 0px;
        }

        .modal-dialog {
            top: 50px;
        }

        .media-left img {
            cursor: pointer;
        }*/

    .label-tags {
        font-size: 16px;
        padding: 1%;
        color: black;
        background-color: white;
        border: 1px solid blue;
        border-radius: 4px;
        margin: 3px;
    }

        .label-tags i {
            cursor: pointer;
        }

    .carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
        display: block;
        max-width: 100%;
        height: auto
    }

    .carousel {
        position: relative
    }

    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden
    }

        .carousel-inner > .item {
            position: relative;
            display: none;
            -webkit-transition: .6s ease-in-out left;
            -o-transition: .6s ease-in-out left;
            transition: .6s ease-in-out left
        }

            .carousel-inner > .item > a > img, .carousel-inner > .item > img {
                line-height: 1
            }

        .carousel-inner > .active, .carousel-inner > .next, .carousel-inner > .prev {
            display: block
        }

        .carousel-inner > .active {
            left: 0
        }

        .carousel-inner > .next, .carousel-inner > .prev {
            position: absolute;
            top: 0;
            width: 100%
        }

        .carousel-inner > .next {
            left: 100%
        }

        .carousel-inner > .prev {
            left: -100%
        }

            .carousel-inner > .next.left, .carousel-inner > .prev.right {
                left: 0
            }

        .carousel-inner > .active.left {
            left: -100%
        }

        .carousel-inner > .active.right {
            left: 100%
        }

    .carousel-control {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 15%;
        font-size: 20px;
        color: #fff;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
        filter: alpha(opacity=50);
        opacity: .5
    }

        .carousel-control.left {
            background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
            background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
            background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
            background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
            background-repeat: repeat-x
        }

        .carousel-control.right {
            right: 0;
            left: auto;
            background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
            background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
            background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5)));
            background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
            background-repeat: repeat-x
        }

        .carousel-control:focus, .carousel-control:hover {
            color: #fff;
            text-decoration: none;
            filter: alpha(opacity=90);
            outline: 0;
            opacity: .9
        }

        .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
            position: absolute;
            top: 50%;
            z-index: 5;
            display: inline-block
        }

        .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
            left: 50%;
            margin-left: -10px
        }

        .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
            right: 50%;
            margin-right: -10px
        }

        .carousel-control .icon-next, .carousel-control .icon-prev {
            width: 20px;
            height: 20px;
            margin-top: -10px;
            font-family: serif;
            line-height: 1
        }

            .carousel-control .icon-prev:before {
                content: '\2039'
            }

            .carousel-control .icon-next:before {
                content: '\203a'
            }

    .carousel-indicators {
        position: absolute;
        bottom: 10px;
        left: 50%;
        z-index: 15;
        width: 60%;
        padding-left: 0;
        margin-left: -30%;
        text-align: center;
        list-style: none
    }

        .carousel-indicators li {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 1px;
            text-indent: -999px;
            cursor: pointer;
            background-color: #000 \9;
            background-color: rgba(0,0,0,0);
            border: 1px solid #fff;
            border-radius: 10px
        }

        .carousel-indicators .active {
            width: 12px;
            height: 12px;
            margin: 0;
            background-color: #fff
        }

    .carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 20px;
        left: 15%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0,0,0,.6)
    }

    #btncloseIndPreview {
        font-size: 20px;
    }

    .carousel-caption .btn {
        text-shadow: none
    }
</style>

<div>
    <section class="timelineTrack">
        <div class="container1">
            <!--Modal to display when image is clicked-->
            <div id="individualImagePreview" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg" style="display: flex;
    justify-content: center;
    align-items: center;">

                    <!-- Modal content-->
                    <div class="modal-content" style="width:40%">
                        <div class="modal-header">
                            <h6 class="modal-title">Preview </h6>
                            <button type="button" id="btncloseIndPreview" class="close"><i class="fa fa-times"></i></button>
                        </div>
                        <div class="modal-body">
                            <img src="" alt="default image" class="img-responsive" id="individualPreview" />

                        </div>

                    </div>

                </div>
            </div>
            <div class="container">
                <div class="alert hide-element" role="alert" id="errorMessaage"></div>
                <div class="alert hide-element" role="alert" id="file-error-message">
                    <span class='glyphicon glyphicon-remove-circle'></span>
                    <p></p>
                </div>
                <form class="well" id="imagesUploadForm">

                    <br />

                    <span class="btn btn-primary btn-file">
                        Browse <input type="file" multiple="multiple" accept="image/*,.pdf,.doc,.docx,.xls,.xlsx" id="uploadImages" />
                    </span>
                    <p class="help-block" id="fuperorupload" style="color:red">

                    </p>

                </form>

                <div class="hide-element" id="previewImages" style="max-height: 220px;overflow-y:scroll;overflow-x: hidden;">

                </div>
                <button class="btn btn-primary pull-right" id="sendImagesToServer" data-keyboard="false" data-backdrop="static" >Apply</button>


                <br /><br />


                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                            </div>
                            <div class="modal-body">
                                <div id="myCarousel" class="carousel slide">
                                    <div class="carousel-inner" role="listbox" id="previewItems">
                                    </div>
                                    <!-- Left and right controls -->
                                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                            <div class="modal-footer hide-element">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
@*<script src="~/Scripts/scrollreveal.min.js"></script>*@
<script>
    $("#btncloseIndPreview").click(function () {
        $("#individualImagePreview").modal('hide');
    });
    function fn_closeModal(ele) {

        $("#modalPssTrackMoreInfo" + $(ele).attr("data-index")).modal('hide');
    }
    function Changeval(txt) {
        var val_ = $(txt).val();
        $(txt).html(val_);



    }
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip({
            html: true
        });


        $('.media').addClass('hide-element');
        $('#imagesUploadForm').submit(function (evt) {
            evt.preventDefault();
        });
        $('#edit').click(function () {
            console.log('click detected inside circl-o of edit');
            $('#edit').toggleClass('fa-circle-o').toggleClass('fa-check-circle');
            if ($('#edit').hasClass('fa-check-circle')) {
                $('#captionForImage').toggleClass('hide-element');
            } else {
                $('#captionForImage').toggleClass('hide-element');
            }
        });

        //namespace variable to determine whether to continue or not
        var proceed = true;
        //Ensure that FILE API is supported by the browser to proceed

        if (proceed) {
            var input = "";
            var formData = new FormData();
            var _htmlcntent = ""; var arrsize = $(PssfupDocsList).length; var arrindex = 0; var upfile = ""; var extension = ""; var filetype = 0;
            var _class = "", _style = "";
            $(PssfupDocsList).each(function (e, val) {
                upfile = "";
                _class = "", _style = "";

                extension = val.ProdImageName.substr((val.ProdImageName.lastIndexOf('.') + 1)).trim().toLowerCase();// val.ProdImageName.split('.')[1].trim().toLowerCase();

                filetype = extension;//(val.ProdImageType.toString().toLowerCase() == "false" ? "0" : "1");
                console.log(filetype);
                if (extension == "pdf" || extension == "doc" || extension == "docx" || extension == "xls" || extension == "xlsx") {

                    if (extension == 'pdf') {

                        _class = "fa fa-file-pdf-o";
                        _style = "color:red;padding-left: 15%;padding-top: 20%;font-size: 35px;";


                    }
                    else if (extension == 'doc' || extension == 'docx') {
                        _class = "fa fa-file-word-o";
                        _style = "color: #2388df;padding-left: 15%;padding-top: 20%;font-size: 35px;";

                    }
                    else if (extension == 'xls' || extension == 'xlsx') {
                        _class = "fa fa-file-excel-o";
                        _style = "color: #37ab29;padding-left: 15%;padding-top: 20%;font-size: 35px;";

                    }
                    else {
                        _class = "fa fa-file-o";
                        _style = "color:#6b6060;padding-left: 15%;padding-top: 20%;font-size: 35px;";

                    }


                    upfile = "<a href='" + val.ProdImage + "' download='" + val.ProdImageName + "' > <i class='fa fa-download' style='color: #2aa2ad;padding-left: 15%;padding-top: 20%; font-size: 35px;'  title='" + val.ProdImageName + "'></i></a><input type='hidden' class='hdnfileType' value='" + filetype + "'/> ";
                } else {
                    upfile = "<img class='media-object thumbnail prvwimg' src='" + val.ProdImage + "' alt='' id='0' title='" + val.ProdImageName + "' data-toggle='modal' data-target='#individualImagePreview'/><input type='hidden' class='hdnfileType' value='" + filetype + "'/>";
                }
                _htmlcntent += " <div class='media row'>" +
                    " <div class='media-left col-md-2'>" + upfile +

                    "<input type='hidden' class='hdnfilename' value='" + val.ProdImageName + "'/>   </div>" +
                    " <div class='media-body  col-md-10'>" +
                    "     <div class=row>" +
                    "<textarea class='form-control col-md-11 imgupdesc' maxlength = '500'  name='description' placeholder='Description' rows='2' cols='50' onchange='Changeval(this)'>" + val.ProdImageDescription.trim() + " </textarea>" +

                    "  <div class='deleteItm   pull-right col-md-1' id='delete_" + arrindex + "'> <i class='fa fa-trash imgdlt'></i> </div></div> " +

                    "  </div>" +
                    "    </div>";

                arrindex = arrindex + 1;


                if (arrsize == arrindex) {
                    $('#previewImages').removeClass('hide-element');
                    $("#previewImages").html(_htmlcntent);
                }

            });

            $('input[type=file]').on("change", function (e) {
                $('#fuperorupload').text("");
                var counter = $('.media').length;
                var medialength = $('.media').length;
                var modalPreviewItems = "";
                input = this.files;
                //$($(this)[0].files).each(function (i, file) {
                //    formData.append("file[]", file);
                //});
                $('#previewImages').removeClass('hide-element');
                $('#imagesUpload').removeClass('disabled');
                var successUpload = 0;
                var failedUpload = 0;
                var extraFiles = 0;
                var size = input.length + medialength;
                var htmlcntent = "";
                $(input).each(function () {
                    var reader = new FileReader();
                    var uploadImage = this;
                    var uploadname = uploadImage.name;
                    //no.Name.Replace(fno.Extension
                    console.log(uploadname);

                    var _Continue = true;
                    $(".hdnfilename").each(function () {

                        if ($(this).val().trim() == uploadname.trim()) {
                            _Continue = false;
                            return;
                        }

                    })


                    if (_Continue) {




                    reader.readAsDataURL(this);
                    reader.onload = function (e) {
                        var magicNumbers = validateImage.magicNumbersForExtension(e);
                        var fileSize = validateImage.isUploadedFileSizeValid(uploadImage);
                        //var extension = validateImage.uploadFileExtension(uploadImage).trim().toLowerCase();
                        extension = uploadname.substr((uploadname.lastIndexOf('.') + 1)).trim().toLowerCase();// val.ProdImageName.split('.')[1].trim().toLowerCase();

                        var isValidImage = validateImage.validateExtensionToMagicNumbers(magicNumbers);
                        var thumbnail = e.target.result;
                        var upfile = ""; console.log(extension);
                        if (extension == "jpeg" || extension == "jpg" || extension == "png" || extension == "pdf" || extension == "doc" || extension == "docx" || extension == "xls" || extension == "xlsx")/*|| extension == "jfif"||extension == "gif" || extension == "png" || extension == "bmp"|| */ {
                            if (fileSize) {

                                $('#' + counter).parents('.media').removeClass('hide-element');

                                upfile = ""; var _class = "", _style = "";
                                if (extension == "pdf" || extension == "doc" || extension == "docx" || extension == "xls" || extension == "xlsx" || extension == "vnd.ms-excel") {


                                    if (extension == 'pdf') {

                                        _class = "fa fa-file-pdf-o";
                                        _style = "color:red;padding-left: 15%;padding-top: 20%;font-size: 35px;";


                                    }
                                    else if (extension == 'doc' || extension == 'docx') {
                                        _class = "fa fa-file-word-o";
                                        _style = "color: #2388df;padding-left: 15%;padding-top: 20%;font-size: 35px;";

                                    }
                                    else if (extension == 'xls' || extension == 'xlsx') {
                                        _class = "fa fa-file-excel-o";
                                        _style = "color: #37ab29;padding-left: 15%;padding-top: 20%;font-size: 35px;";

                                    }
                                    else {
                                        _class = "fa fa-file-o";
                                        _style = "color:#6b6060;padding-left: 15%;padding-top: 20%;font-size: 35px;";

                                    }

                                    upfile = "<a class='downfile' href='" + thumbnail + "' download='" + uploadname + "' > <i class='" + _class + "' style='" + _style + "'  title='" + uploadname + "'></i></a><input type='hidden' class='hdnfileType' value='" + extension + "'/>";
                                } else {
                                    upfile = "<img class='media-object thumbnail prvwimg' src='" + thumbnail + "' alt='' id='0' title='" + uploadname + "' data-toggle='modal' data-target='#individualImagePreview'/><input type='hidden' class='hdnfileType' value='" + extension + "'/>";
                                }

                                htmlcntent += " <div class='media row'>" +
                                    " <div class='media-left col-md-2'>" +
                                    upfile +
                                    "<input type='hidden' class='hdnfilename' value='" + uploadname + "'/>  </div>" +
                                    " <div class='media-body col-md-10'>" +
                                    "     <div class=row>  <textarea class='form-control col-md-11 imgupdesc' maxlength = '500'  name = 'description' placeholder = 'Description' rows = '2' cols = '50' onchange='Changeval(this)' ></textarea > " +



                                    "  <div class='deleteItm   pull-right col-md-1' id='delete_" + counter + "'> <i class='fa fa-trash imgdlt'></i></div></div> " +
                                    "  </div>" +
                                    "    </div>";


                                $('#fuperorupload').text("");

                                successUpload++;


                            } else {
                                $('#fuperorupload').text("File with maximum size of 2 MB is allowed.");
                                failedUpload++;
                            }

                        } else {
                            $('#fuperorupload').text("Only jpg, jpeg, pdf, doc, docx, xls, xlsx,png  is allowed.");/*, png, bmp, jfif, */

                            failedUpload++;
                        }

                        counter++;
                        if (counter === size) {
                            var prevhtmlcontent = $("#previewImages").html();
                            $("#previewImages").html(htmlcntent + prevhtmlcontent);
                            $('#myCarousel').append(carouselInsideModal.createIndicators(successUpload, "myCarousel"));
                            $('#previewItems').append(modalPreviewItems);
                            $('#previewItems .item').first().addClass('active');
                            $('#carouselIndicators > li').first().addClass('active');
                            $('#myCarousel').carousel({
                                interval: 2000,
                                cycle: true
                            });




                        }
                    };
                    $('input[type=file]').val("");
                    }
                    else {
                        $('#fuperorupload').text("Already Exists");
                    }
                });

            });
            $(document).on('click', '.glyphicon-remove-circle', function () {
                $('#file-error-message').addClass('hide-element');
            });
            $("body").on("click", ".media-object", function () {
                var image = $(this).attr('src');
                $("#individualPreview").attr('src', image);
                var tags = [];
                var displayTagsWithFormat = "";
                ($(this).parents('.media').find('input[type="text"]')).each(function () {
                    if ($(this).attr('name') === 'tags') {
                        tags = $(this).val().split(",");
                        $.each(tags, function (index) {
                            displayTagsWithFormat += "<span class = 'label-tags label'>#" + tags[index] + "  <i class='fa fa-times'></i></span>";
                        });
                        $("#displayTags").html("<div class='pull-left'>" + displayTagsWithFormat + "</div>");

                    }
                });
            });
            var toBeDeleted = [];
            var eachImageValues = [];


            $('body').on("click", ".deleteItm", function () {

                var delindx = $(this).attr("id").split('-');
                if (PssfupDocsList != null && PssfupDocsList.length > 0) {
                    PssfupDocsList.splice(delindx[1], 1);
                }

                $(this).closest('.media').remove();
            });
            //$('body').on("click", "#sendImagesToServer", function () {
            //alert()
            $("#sendImagesToServer").click(function () {  console.log("called a");

                var counter = 0;
                var imageData = "";
                var consolidatedData = [];

                var description = "";
                var caption = "";
                var tags = ""; PssfupDocsList = []; var extension = ""; var blobimg;
                var _cntinue = true;
                
                $('.imgupdesc').each(function (index) {

                    if($(this).val().trim() != "")
                    {
                        if (PssfupDocsList.length > 0) {
                            let obj = PssfupDocsList.find(o => o.ProdImageDescription.trim() == $(this).val().trim());
                            if (obj != null) {
                                _cntinue = false;
                            }
                        }
                    }
                    if (_cntinue) {
                        counter++;
                        var fileType = $(this).parent().parent().siblings().find('.hdnfileType').val();
                        //var downfile=($(this).parent().parent().siblings().find('.downfile').attr('href'));
                        //var prvwimg= ($(this).parent().parent().siblings().find('.prvwimg').attr('src'));
                        var imgName = $(this).parent().parent().siblings().find('.hdnfilename').val().trim().toLowerCase();
                        console.log(fileType);
                        if (fileType == "1") {
                            blobimg = $(this).parent().parent().siblings().find('.downfile').attr('href');
                        }
                        else {
                            blobimg = $(this).parent().parent().siblings().find('.prvwimg').attr('src');
                        }

                        description = $(this).val();


                        imageData = new imageInformation(description, blobimg, imgName, fileType);
                        PssfupDocsList.push(imageData);
                     
                       
                         
                    } 
                });
                if (_cntinue) {
                    $('#modalFileUpload').modal('hide'); 
                }
                else {
                    NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': 'Same Description not Allowed' });
                    _cntinue = true;
                    $('#modalFileUpload').show();
                }



            });

            function imageInformation(description, blobimg, imgName, fileType) {

                this.ProdImageName = imgName;
                this.ProdImageDescription = description;

                this.ProdImage = blobimg;
                this.ProdImageType = fileType;

            };

            function deleteList(toBeDeleted) {
                this.toBeDeleted = toBeDeleted;
            };
            var validateImage = {
                magicNumbersForExtension: function (event) {
                    var headerArray = (new Uint8Array(event.target.result)).subarray(0, 4);
                    var magicNumber = "";
                    for (var counter = 0; counter < headerArray.length; counter++) {
                        magicNumber += headerArray[counter].toString(16);
                    }
                    return magicNumber;
                },
                isUploadedFileSizeValid: function (fileUploaded) {
                    var fileSize = fileUploaded.size;
                    var maximumSize = 2097125;
                    var isValid = "";
                    if (fileSize <= maximumSize) {
                        isValid = true;
                    } else {
                        isValid = false;
                    }
                    return isValid;
                },
                uploadFileExtension: function (fileUploaded) {
                    var fileExtension = "";
                    var imageType = "";
                    imageType = fileUploaded.type.toLowerCase();
                    console.log(imageType);
                    fileExtension = imageType.substr((imageType.lastIndexOf('/') + 1));
                    return fileExtension;
                },
                validateExtensionToMagicNumbers: function (magicNumbers) {
                    var properExtension = "";
                    if (magicNumbers.toLowerCase() === "ffd8ffe0" || magicNumbers.toLowerCase() === "ffd8ffe1" ||
                        magicNumbers.toLowerCase() === "ffd8ffe8" ||
                        magicNumbers.toLocaleLowerCase() === "89504e47") {
                        properExtension = true;

                    } else {
                        properExtension = false;
                    }
                    return properExtension;
                },
                generateThumbnail: function (uploadImage) {
                    var imageSrc = "";
                    if (window.URL)
                        imageSrc = window.URL.createObjectURL(uploadImage);
                    else
                        imageSrc = window.webkitURL.createObjectURL(uploadImage);

                    return imageSrc;
                }
            };
            var carouselInsideModal = {
                createIndicators: function (carouselLength, dataTarget) {
                    var carouselIndicators = '<ol class = "carousel-indicators" id="carouselIndicators">';
                    for (var counter = 0; counter < carouselLength; counter++) {
                        carouselIndicators += '<li data-target = "#' + dataTarget + '"data-slide-to="' + counter + '"></li>';
                    }
                    carouselIndicators += "</ol>";
                    return carouselIndicators;
                },
                createItemsForSlider: function (imgSrc, counter) {
                    var item = '<div class = "item">' + '<img src="' + imgSrc + '" id="preview' + counter + '" /></div>  ';
                    return item;
                }
            };
        }
    });

</script>
