
<style>

    .tableFixHead {
        overflow: auto;
        height: 250px;
        
    }

        .tableFixHead thead tr {
            position: sticky;
            top: 0;
            z-index: 1;
        }

    table {
        border-collapse: collapse;
        width: 100%;
    }
     
    th, td {
        padding: 8px 16px;
    }

    th {
        background: var(--perfect-primary);
    }

</style>
@model PerfectWebERP.Models.SalesReportModel.salelist
<div class="card ">

    <div class="card-header">
        <h4 class="card-title col-12">@ViewBag.PageTitle</h4>
    </div>
    <div class="card-body">
        <form id="" class="form-valide" perfect-class="form" action="#" method="post" perfect-onFormSuccess="">
            <div class="">
                @*@Html.AntiForgeryToken()*@
                <div class="row">

                    <div class="col-sm-4 ">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Product</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="input-group col-sm-8">
                                <input type="text" class="form-control" name="Product" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" disabled />
                                <input type="hidden" name="FK_Product" class="form-control perfectValidate_string" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                                @*<input type="hidden" name="MRPs" class="form-control " perfect-ctype="hidden" perfect-css="input" />*@
                                <div class="input-group-append">
                                    <button id="addcountry-jq-searchButton3" name="prdbtn" class="btn btn-primary fa fa-search" type="button" onclick="GetCmnPopUpSearchValAssign(this, 163, 'Product Details', [], [])" BindName="Product" BindVal="FK_Product" Criterea1="0" Criterea2="0" Function="1" perfect-css="button"></button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 ">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Stage</span>
                            </label>
                            <div class="input-group col-sm-8">
                                <input type="text" class="form-control" name="Stage" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" disabled />
                                <input type="hidden" name="FK_Stage" class="form-control " perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                                @*<input type="hidden" name="MRPs" class="form-control " perfect-ctype="hidden" perfect-css="input" />*@
                                <div class="input-group-append">
                                    <button id="addcountry-jq-searchButton3" name="prdbtn" class="btn btn-primary fa fa-search" type="button" onclick="GetCmnPopUpSearchValAssign(this, 164, 'Stage Details', [], [])" BindName="Stage" BindVal="FK_Stage" Criterea1="FK_Product" Criterea2="0" perfect-css="button"></button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 ">
                        <div class="form-group row" perfect-class="formGroup">
                            
                            <div class="input-group col-sm-8">
                                <div class="input-group-append">
                                    <button id="addcompany-jq-addnewuser" type="button" class="btn btn-primary1 mr-3 " name="add" perfect-css="button" onclick="getProductionWorkFlowRpt(this) "><i class="fa fa-refresh fa-spin loaderClass "></i>Show</button>
                                    <button type="button" class="btn btn-light" perfect-css="button" onclick="ResetButton(this);" name="reset">Clear</button>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
            @*<div class="card-footer text-right" perfect-class="formFooter">
            <button id="addcompany-jq-addnewuser" type="button" class="btn btn-primary mr-3 " name="add" perfect-css="button" onclick="getreport(this) "><i class="fa fa-refresh fa-spin loaderClass "></i>Show</button>
            <button type="button" class="btn btn-light" perfect-css="button" onclick="ResetButton(this);" name="reset">Clear</button>
        </div>*@
            <div class="row">
                <div class="col-sm-6">
                    <div id="InputMaterialsHeaderId" style="font-weight:bold">
                        <h4>Input Materials<span perfect-class="formTitle"></span></h4>
                    </div>

                    <div class="tableFixHead igf" >
                        <div class="table-responsive-lg" perfect-tempTable="GridInputMaterials" id="GridInputMaterialstableid">



                            <table class="table table-responsive-lg" id="GridInputMaterialsid">
                                <thead class="thead btn-primary" style="width:50px" id="ReturnHead">


                                    <tr>
                                        <th scope="col" style="text-align:center">Sl.No</th>
                                        <th scope="col" style="text-align:left">Stage</th>
                                        <th scope="col" style="text-align:left">Material</th>
                                        <th scope="col" style="text-align:right">Qunatity</th>
                                        <th scope="col" style="text-align:right">Amount</th>
                                        <th scope="col" style="text-align:right">Total Amount</th>
                                        <th scope="col" style="text-align:center">Effect Stock</th>
                                    </tr>



                                <tbody id="GridInputMaterialsbody">

                                    <tr id="0">
                                        <td style="text-align:center;" colspan="7">No Records..</td>
                                    </tr>

                                </tbody>
                                <tfoot id="GridInputMaterialsfooter" style="position:sticky">
                                    <tr>
                                        <td id="total" colspan="5" style="font-weight:bold;text-align:right">Total :</td>
                                        <td style="font-weight:bold;text-align:right">0.00</td>
                                    </tr>
                                </tfoot>


                            </table>
                        </div>
                    </div>


                </div>
                <div class="col-sm-6">
                    <div id="OutputProductHeaderId" style="font-weight:bold;">
                        <h4>Output Products<span perfect-class="formTitle"></span></h4>
                    </div>

                    <div class="tableFixHead ogf" >
                        <div class="table-responsive-sm" perfect-tempTable="GridOutputProducts" id="GridOutputProductstableid">



                            <table class="table table-responsive-sm" id="GridOutputProductsid">
                                <thead class="thead btn-primary" style="width:50px" id="ReturnHead">


                                    <tr>
                                        <th scope="col" style="text-align:center">Sl.No</th>
                                        <th scope="col" style="text-align:left">Stage</th>
                                        <th scope="col" style="text-align:left">Product</th>
                                        <th scope="col" style="text-align:right">Quantity</th>
                                        <th scope="col" style="text-align:center">Add to Stock</th>
                                    </tr>



                                <tbody id="GridOutputProductsbody">

                                    <tr id="0">
                                        <td style="text-align:center;" colspan="5">No Records..</td>
                                    </tr>

                                </tbody>



                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div id="ResourceDetailsHeaderId" style="font-weight:bold">
                        <h4>Resource Details<span perfect-class="formTitle"></span></h4>
                    </div>

                    <div class="tableFixHead rgf" >
                        <div class="table-responsive-sm" perfect-tempTable="GridResourceDetails" id="GridResourceDetailstableid">



                            <table class="table table-responsive-sm" id="GridResourceDetailsid">
                                <thead class="thead btn-primary" style="width:50px" id="ReturnHead">


                                    <tr>
                                        <th scope="col" style="text-align:center">Sl.No</th>
                                        <th scope="col" style="text-align:left">Stage</th>
                                        <th scope="col" style="text-align:left">Resource</th>
                                        <th scope="col" style="text-align:right">Cost</th>
                                    </tr>



                                <tbody id="GridResourceDetailsbody">

                                    <tr id="0">
                                        <td style="text-align:center;" colspan="4">No Records..</td>
                                    </tr>

                                </tbody>
                                <tfoot id="GridResourceDetailsfooter">
                                    <tr>
                                        <td id="total" colspan="3" style="font-weight:bold;text-align:right">Total :</td>
                                        <td style="font-weight:bold;text-align:right">0.00</td>
                                    </tr>
                                </tfoot>


                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div id="StageDetailsHeaderId" style="font-weight:bold">
                        <h4>Stage Details<span perfect-class="formTitle"></span></h4>
                    </div>

                    <div class="tableFixHead sgf" >
                        <div class="table-responsive-sm" perfect-tempTable="GridStageDetails" id="GridStageDetailstableid">



                            <table class="table table-responsive-sm" id="GridStageDetailsid">
                                <thead class="thead btn-primary" style="width:10px" id="ReturnHead">


                                    <tr>
                                        <th scope="col" style="text-align:center">Sl.No</th>
                                        <th scope="col" style="text-align:left">Stage</th>
                                        <th scope="col" style="text-align:left">Duration</th>
                                        <th scope="col" style="text-align:right">Total Cost</th>
                                    </tr>



                                <tbody id="GridStageDetailsbody">

                                    <tr id="0">
                                        <td style="text-align:center;" colspan="3">No Records..</td>
                                    </tr>

                                </tbody>
                                <tfoot id="GridStageDetailsfooter">
                                    <tr>
                                        <td id="total" colspan="2" style="font-weight:bold;text-align:right">Total :</td>
                                        <td style="font-weight:bold;text-align:left">0</td>
                                        <td style="font-weight:bold;text-align:right">0.00</td>
                                    </tr>
                                </tfoot>


                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="SumTotalId" >
                <div class="col-sm-6">
                    <div class="card-footer text-right" perfect-class="formFooter">
                        <h6><span perfect-class="formTitle" id="">Production Cost</span></h6>
                        <h6><span perfect-class="formTitle" id="PrdCost" style="font-weight:bold">0.00</span></h6>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card-footer text-right" perfect-class="formFooter">
                        <h6><span perfect-class="formTitle" id="" style="text-align:right">Sales Price</span></h6>
                        <h6><span perfect-class="formTitle" id="SalPrice" style="font-weight:bold">0.00</span></h6>
                    </div>
                </div>
            </div>            
        </form>
    </div>


</div>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>*@
<script>
    $(document).ready(function () {
        $("#InputMaterialsHeaderId").hide();
        $("#OutputProductHeaderId").hide();
        $("#ResourceDetailsHeaderId").hide();
        $("#StageDetailsHeaderId").hide();
        $("#SumTotalId").hide();
        $(".igf").hide();
        $(".ogf").hide();
        $(".rgf").hide();
        $(".sgf").hide();        
    });
    function convertToMinutes(duration) {
        var matches = duration.match(/(\d+)\s*(Day|Hour|Min|Month|Year|Years|Months|Days|Hours)/);
        if (!matches) return 0;

        var value = parseInt(matches[1]);
        var unit = matches[2];

        switch (unit) {
            case 'Year':
                return value * 365 * 24 * 60; // Assuming 1 year = 365 days
            case 'Years':
                return value * 365 * 24 * 60; // Assuming 1 year = 365 days
            case 'Month':
                return value * 30 * 24 * 60; // Assuming 1 month = 30 days
            case 'Months':
                return value * 30 * 24 * 60; // Assuming 1 month = 30 days
            case 'Day':
                return value * 24 * 60;
            case 'Days':
                return value * 24 * 60;
            case 'Hour':
                return value * 60;
            case 'Hours':
                return value * 60;
            case 'Min':
                return value;
            default:
                return 0;
        }
    }
    function convertToDaysMonthsYears(totalMinutes) {
        var years = Math.floor(totalMinutes / (365 * 24 * 60));
        var months = Math.floor((totalMinutes % (365 * 24 * 60)) / (30 * 24 * 60));
        var days = Math.floor((totalMinutes % (30 * 24 * 60)) / (24 * 60));
        var hours = Math.floor((totalMinutes % (24 * 60)) / 60);
        var minutes = totalMinutes % 60;

        return years + ' Years, ' + months + ' Months, ' + days + ' Days, ' + hours + ' Hours, ' + minutes + ' Minutes';
    }
    function ResetButton(ele) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');

        $thisForm.find('[perfect-ctype="select"]').val(0).selectpicker('refresh');
        $thisForm.find('[perfect-ctype="input"]').val('');
        $thisForm.find('[perfect-ctype="date"]').val('');
        $thisForm.find('[perfect-ctype="hidden"]').val('');
        $thisForm.validate().resetForm();

        $("#GridInputMaterialsbody").html('');
        $("#GridInputMaterialsfooter").html('');
        $("#GridOutputProductsbody").html('');
        $("#GridResourceDetailsbody").html('');
        $("#GridResourceDetailsfooter").html('');
        $("#GridStageDetailsfooter").html('');
        $("#GridStageDetailsbody").html('');

        $("#InputMaterialsHeaderId").hide();
        $("#OutputProductHeaderId").hide();
        $("#ResourceDetailsHeaderId").hide();
        $("#StageDetailsHeaderId").hide();
        $("#SumTotalId").hide();
        $(".igf").hide();
        $(".ogf").hide();
        $(".rgf").hide();
        $(".sgf").hide();
    }
    function getfunction(ele) {

        let $thisForm = $(ele).closest('[perfect-class="form"]');

        $thisForm.find('[name="FK_Stage"]').val(0);
        $thisForm.find('[name="Stage"]').val('');
    }
    function getProductionWorkFlowRpt(ele) {

        let $thisForm = $(ele).closest('[perfect-class="form"]');

        if ($thisForm.valid()) {

            var Input = {
                FK_Product: $thisForm.find('[name="FK_Product"]').val(),
                FK_Stage: $thisForm.find('[name="FK_Stage"]').val(),
            }


            $.ajax({
                url: "@Url.Action("GetProductionWorkFlowdetailReport", "ProductionWorkFlowRpt")",
                type: "GET",
                data: Input,
                dataType: "json",
                contentType: "application/json",
                success: function (ajaxOutput) {
                    

                    if (ajaxOutput.InputMaterials.Process.IsProcess) {

                        //reportdetaildata = ajaxOutput.Data;

                        $("#InputMaterialsHeaderId").show();
                        $("#OutputProductHeaderId").show();
                        $("#ResourceDetailsHeaderId").show();
                        $("#StageDetailsHeaderId").show();
                        $("#SumTotalId").show();
                        $(".igf").show();
                        $(".ogf").show();
                        $(".rgf").show();
                        $(".sgf").show();

                        
                        //$("#GridInputMaterialsbody").html('');
                        //$("#GridInputMaterialsfooter").html('');
                        //$("#GridOutputProductsbody").html('');
                        //$("#GridResourceDetailsbody").html('');
                        //$("#GridResourceDetailsfooter").html('');
                        //$("#GridStageDetailsfooter").html('');
                        //$("#GridStageDetailsbody").html('');

                        var CheckListHTML = '';
                        var CheckListHTMLFooter = '';
                        var CheckListHTMLOut = '';
                        var CheckListHTMLRes = '';
                        var CheckListHTMLResFooter = '';
                        var CheckListHTMLStage = '';
                        var CheckListHTMLStageFooter = '';

                        if (ajaxOutput.InputMaterials.Data.length > 0) {

                            $('#GridInputMaterialsbody').show();

                            // GetAccountdetaildata = ajaxOutput.Data;
                            let SumTotal = 0;
                            $.each(ajaxOutput.InputMaterials.Data, function (i, value) {
                                SumTotal += parseFloat(value.TotalAmount);
                                CheckListHTML += "<tr>";
                                CheckListHTML += "<td  Class='jq_slno_td' style='text-align:center'>" + value.SlNo + "</td>";
                                CheckListHTML += "<td  Class='jq_stage_td' style='text-align:left ;width:20px'>" + value.Stage + "</td>";
                                CheckListHTML += "<td Class='jq_Material_td' style='text-align:left ;width:20px'>" + value.Material + "</td>";
                                CheckListHTML += "<td class='jq_Quantity_td' style='text-align:right '>" + value.Quantity + "</td>";
                                CheckListHTML += "<td class='jq_Amount_td' style='text-align:right'>" + value.Amount + "</td>";
                                CheckListHTML += "<td class='jq_TotalAmount_td' style='text-align:right;'>" + value.TotalAmount + "</td>";
                                CheckListHTML += "<td class='jq_EffectStock_td' style='text-align:center'>" + value.EffectStock + "</td>";

                                CheckListHTML += "</tr>";


                            });
                            CheckListHTMLFooter += "<tr>"
                            CheckListHTMLFooter += "<td style = 'text-align:right; font-weight:bold' colspan = '5'>Total: </td >"
                            CheckListHTMLFooter += "<td style = 'text-align:right; font-weight:bold' >" + parseFloat(SumTotal).toFixed(2) + " </td >"
                            CheckListHTMLFooter += "</tr>"

                            $("#GridInputMaterialsbody").html(CheckListHTML);
                            $("#GridInputMaterialsfooter").html(CheckListHTMLFooter);

                        }
                        else {
                            CheckListHTML += "<tr id='0'>";
                            CheckListHTML += "<td style='text-align:center;' colspan='7'>No Records..</td>";
                            CheckListHTML += "</tr>";
                            CheckListHTMLFooter += "<tr>"
                            CheckListHTMLFooter += "<td style = 'text-align:right; font-weight:bold' colspan = '5'>Total: </td >"
                            CheckListHTMLFooter += "<td style = 'text-align:right; font-weight:bold' >0.00 </td >"
                            CheckListHTMLFooter += "</tr>"
                            $("#GridInputMaterialsbody").html(CheckListHTML);
                            $("#GridInputMaterialsfooter").html(CheckListHTMLFooter);
                        }
                        if (ajaxOutput.OutputProducts.Process.IsProcess) {

                            if (ajaxOutput.OutputProducts.Data.length > 0) {
                                $('#GridOutputProductsbody').show();

                                // GetAccountdetaildata = ajaxOutput.Data;
                                $.each(ajaxOutput.OutputProducts.Data, function (i, value) {

                                    CheckListHTMLOut += "<tr>";
                                    CheckListHTMLOut += "<td  Class='jq_slno_td' style='text-align:center'>" + value.SlNo + "</td>";
                                    CheckListHTMLOut += "<td  Class='jq_OutStage_td' style='text-align:left;width30px'>" + value.Stage + "</td>";
                                    CheckListHTMLOut += "<td Class='jq_OutProduct_td' style='text-align:left;width:30px'>" + value.Product + "</td>";
                                    CheckListHTMLOut += "<td class='jq_OutQuantity_td' style='text-align:right'>" + value.Quantity + "</td>";
                                    CheckListHTMLOut += "<td class='jq_OutAddtoStock_td' style='text-align:center;'>" + value.AddtoStock + "</td>";

                                    CheckListHTMLOut += "</tr>";

                                });
                                $("#GridOutputProductsbody").html(CheckListHTMLOut);
                            }
                            else {
                                CheckListHTMLOut += "<tr>";
                                CheckListHTMLOut += "<td style='text-align:center;' colspan='5'>No Records..</td>";
                                CheckListHTMLOut += "</tr>";
                                $("#GridOutputProductsbody").html(CheckListHTMLOut);
                            }
                        }
                        let ResourceCost = 0;
                        if (ajaxOutput.ResourceDetails.Process.IsProcess) {

                            if (ajaxOutput.ResourceDetails.Data.length > 0) {
                                $('#GridResourceDetailsbody').show();

                                // GetAccountdetaildata = ajaxOutput.Data;
                                $.each(ajaxOutput.ResourceDetails.Data, function (i, value) {
                                    ResourceCost += parseFloat(value.Cost);
                                    CheckListHTMLRes += "<tr>";
                                    CheckListHTMLRes += "<td  Class='jq_slno_td' style='text-align:center'>" + value.SlNo + "</td>";
                                    CheckListHTMLRes += "<td  Class='jq_ResStage_td' style='text-align:left;width:30px'>" + value.Stage + "</td>";
                                    CheckListHTMLRes += "<td Class='jq_ResResource_td' style='text-align:left;width:30px'>" + value.Resource + "</td>";
                                    CheckListHTMLRes += "<td class='jq_ResCost_td' style='text-align:right '>" + value.Cost + "</td>";

                                    CheckListHTMLRes += "</tr>";

                                });
                                CheckListHTMLResFooter += "<tr>"
                                CheckListHTMLResFooter += "<td style = 'text-align:right; font-weight:bold' colspan = '3'>Total: </td >"
                                CheckListHTMLResFooter += "<td style = 'text-align:right; font-weight:bold' >" + parseFloat(ResourceCost).toFixed(2) + " </td >"
                                CheckListHTMLResFooter += "</tr>"
                                $("#GridResourceDetailsbody").html(CheckListHTMLRes);
                                $("#GridResourceDetailsfooter").html(CheckListHTMLResFooter);
                            }
                            else {
                                CheckListHTMLRes += "<tr>";
                                CheckListHTMLRes += "<td  <td style='text-align:center;' colspan='5'>No Records..</td>>" + value.Resource + "</td>";
                                CheckListHTMLRes += "<td class='jq_ResCost_td' style='text-align:right '>" + value.Cost + "</td>";

                                CheckListHTMLRes += "</tr>";
                                CheckListHTMLResFooter += "<tr>"
                                CheckListHTMLResFooter += "<td style = 'text-align:right; font-weight:bold' colspan = '3'>Total: </td >"
                                CheckListHTMLResFooter += "<td style = 'text-align:right; font-weight:bold' >0.00 </td >"
                                CheckListHTMLResFooter += "</tr>"
                                $("#GridResourceDetailsbody").html(CheckListHTMLRes);
                                $("#GridResourceDetailsfooter").html(CheckListHTMLResFooter);
                            }
                        }
                        let StageCost = 0;
                        let duration = 0;
                        if (ajaxOutput.StageDetails.Process.IsProcess) {

                            if (ajaxOutput.StageDetails.Data.length > 0) {
                                $('#GridStageDetailsbody').show();
                                console.log("ajaxOutput.StageDetails.Data>>>>>>", ajaxOutput.StageDetails.Data.length);
                                // GetAccountdetaildata = ajaxOutput.Data;
                                $.each(ajaxOutput.StageDetails.Data, function (i, value) {
                                    StageCost += parseFloat(value.TotalCost);
                                    duration += convertToMinutes(value.Duration);
                                    if (i < ajaxOutput.StageDetails.Data.length - 1) {
                                        CheckListHTMLStage += "<tr>";
                                        CheckListHTMLStage += "<td  Class='jq_slno_td' style='text-align:center'>" + value.SlNo + "</td>";
                                        CheckListHTMLStage += "<td  Class='jq_StgStage_td' style='text-align:left;width:30px '>" + value.Stage + "</td>";
                                        CheckListHTMLStage += "<td Class='jq_StgDuration_td' style='text-align:left;width:20px'>" + value.Duration + "</td>";
                                        CheckListHTMLStage += "<td class='jq_StgTotalCost_td' style='text-align:right'>" + value.TotalCost + "</td>";

                                        CheckListHTMLStage += "</tr>";
                                    }

                                });
                                var length = parseInt(ajaxOutput.StageDetails.Data.length);
                                var TotalRowValue = length - 1;
                                var TotalDuration = ajaxOutput.StageDetails.Data[TotalRowValue].Duration;
                                var Stagecost = ajaxOutput.StageDetails.Data[TotalRowValue].TotalCost;
                                CheckListHTMLStageFooter += "<tr>"
                                CheckListHTMLStageFooter += "<td style = 'text-align:right; font-weight:bold' colspan = '2'>Total: </td >"
                                CheckListHTMLStageFooter += "<td style = 'text-align:left; font-weight:bold' >" + TotalDuration + " </td >"
                                CheckListHTMLStageFooter += "<td style = 'text-align:right; font-weight:bold' >" + parseFloat(Stagecost).toFixed(2) + " </td >"
                                CheckListHTMLStageFooter += "</tr>"
                                $("#GridStageDetailsfooter").html(CheckListHTMLStageFooter);
                                $("#GridStageDetailsbody").html(CheckListHTMLStage);
                            }
                            else {
                                CheckListHTMLStage += "<tr>";
                                CheckListHTMLStage += "<td  <td style='text-align:center;' colspan='4'>No Records..</td>'></td>";                               

                                CheckListHTMLStage += "</tr>";
                                CheckListHTMLStageFooter += "<tr>"
                                CheckListHTMLStageFooter += "<td style = 'text-align:right; font-weight:bold' colspan = '2'>Total: </td >"
                                CheckListHTMLStageFooter += "<td style = 'text-align:left; font-weight:bold' >0 </td >"
                                CheckListHTMLStageFooter += "<td style = 'text-align:right; font-weight:bold' >0.00</td >"
                                CheckListHTMLStageFooter += "</tr>"
                                $("#GridStageDetailsfooter").html(CheckListHTMLStageFooter);
                                $("#GridStageDetailsbody").html(CheckListHTMLStage);
                            }
                        }

                        if (ajaxOutput.AmountData.Process.IsProcess) {

                            if (ajaxOutput.AmountData.Data.length > 0) {
                                //$('#GridResourceDetailsbody').show();

                                // GetAccountdetaildata = ajaxOutput.Data;
                                $.each(ajaxOutput.AmountData.Data, function (i, value) {
                                    $("#PrdCost").text(value.ProductCost);
                                    $("#SalPrice").text(value.SalesPrice);
                                });                                
                            }
                        }

                    } else {
                        /// else condition ajaxOutput.Process.IsProcess
                        $.each(ajaxOutput.InputMaterials.Process.Message, function (key, value) {
                            NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': 'No Records Found' });
                        });
                        $("#InputMaterialsHeaderId").hide();
                        $("#OutputProductHeaderId").hide();
                        $("#ResourceDetailsHeaderId").hide();
                        $("#StageDetailsHeaderId").hide();
                        $("#SumTotalId").hide();
                        $(".igf").hide();
                        $(".ogf").hide();
                        $(".rgf").hide();
                        $(".sgf").hide();
                    };

                    // }
                },

            });
        }
    }
</script>
