@model PerfectWebERP.Models.ServiceListModel.ServiceListModelDetailsData
<style>
    .headerfixed {
        margin-top: -1;
        position: sticky;
        padding: -1;
        position: sticky;
        top: 0; /*! background-color: #f2f2f2; */
        z-index: 1000;
    }
</style>
<div class="col-sm-12 dvEMILoadDetailsList">
    <div class="profile-personal-info">


        <h4 class='text-primary mb-4'>
            Slab Details
        </h4>

    </div>
    <div class="card-body">

        @if (Model.DtList != null)
        {
            if (Model.DtList.Rows.Count > 0)
            {
                <div class="table-responsive" style="height:350px;overflow-y:auto">
                    <table class="table  table-striped" id="ListEMI">
                        <thead class="thead-primary headerfixed">
                            <tr>

                                @for (int i = 0; i < Model.DtList.Columns.Count; i++)
                                {

                                    <th>@Model.DtList.Columns[i].ColumnName </th>


                                }

                            </tr>


                        </thead>
                        <tbody class="Listbody" id="Listbody">
                            @{

                                for (int i = 0; i < Model.DtList.Rows.Count; i++)
                                {

                                    <tr>
                                        @for (int j = 0; j < Model.DtList.Columns.Count; j++)
                                        {

                                            <td>@Model.DtList.Rows[i][j].ToString() </td>

                                        }
                                    </tr>

                                }

                            }
                        </tbody>

                    </table>
                </div>
            }
        }
        @if (Model.DtDetailsList != null)
        {
            <div class="profile-personal-info">


                <h4 class='text-primary mb-4'>Transaction Details</h4>

            </div>


            if (Model.DtDetailsList.Rows.Count > 0)
            {
                <div class="table-responsive" style="height:350px;overflow-y:auto">
                    <table class="table  table-striped" id="List">
                        <thead class="thead-primary headerfixed">
                            <tr>

                                @for (int i = 0; i < Model.DtDetailsList.Columns.Count; i++)
                                {

                                    <th>@Model.DtDetailsList.Columns[i].ColumnName </th>



                                }

                            </tr>


                        </thead>
                        <tbody class="Listbody" id="Listbody">

                            @for (int i = 0; i < Model.DtDetailsList.Rows.Count; i++)
                            {

                                <tr>
                                    @for (int j = 0; j < Model.DtDetailsList.Columns.Count; j++)
                                    {

                                        <td>@Model.DtDetailsList.Rows[i][j].ToString() </td>


                                    }
                                </tr>

                            }

                        </tbody>

                    </table>
                </div>
            }


        }






    </div>
</div>
