
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12" id="ImportExport-form">

        </div>
    </div>
</div>

@section scripts {

    <script type="text/javascript">
        const $formContainer = $('#ImportExport-form');

        $(document).ready(function () {

            fn_importexport_initialLoad();
        });

        function fn_importexport_initialLoad() {

            LoadAddExportImport();
        }
        var validationMessage = {
            'ExType': {
                'required':'Please select Action'
            },
            'ExForm': {
                'required': 'Please select a Form'
            }
        }

        function LoadAddExportImport() {
          
             $formContainer.load('@Url.Action("LoadExportImport", "ExportOrImport")?mtd=@ViewBag.mtd', function () {
                let $thisForm = $(this).find('[perfect-class="form"]');
                $thisForm.validate({ messages: validationMessage });
                 $thisForm.attr('perfect-onFormSuccess', 'fn_importexport_initialLoad');
            });
        }

    </script>
    
}

