
@{
    ViewBag.Title = "SalesReturnGSTReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12" id="SalesReturnGSTReport-form">

        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        var SalesReturnGSTReportsTransMode = "";
        const $formContainer = $('#SalesReturnGSTReport-form');
        RPTusername = '@ViewBag.Username';

        $(document).ready(function () {
            SalesReturnGSTReportInitialLoad();
        });

        function SalesReturnGSTReportInitialLoad() {
            SalesReturnGSTReportsTransMode = '@ViewBag.TransMode';
            loadSalesReturnGSTReportAddForm();
        }

        function loadSalesReturnGSTReportAddForm() {
            $formContainer.load('@Url.Action("LoadSalesReturnGSTReportForm", "SalesReturnGSTReport")?mtd=@ViewBag.mtd', function () {
            
                let $thisForm = $(this).find('[perfect-class="form"]');
                //$thisForm.find('[name="VisitTime"]').val(new Date().getHours() + ":" + new Date().getMinutes()),
                //$thisForm.find('[name="PrepareDate"]').val(moment(new Date()).format('YYYY-MM-DD'));

                // ... Custom validation message

                //$thisForm.validate({ messages: validationMessage });

                // ... Custom validation message

                $thisForm.attr('perfect-onFormSuccess', 'SalesReturnGSTReportInitialLoad');
            });
        }
    </script>
}

