
@{
    ViewBag.Title = "AuthorizationReport";
}



<div class="container-fluid">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12" id="authorizationReport-form">

        </div>
    </div>

</div>

@section scripts {
    <script type="text/javascript">
        const $formContainer = $('#authorizationReport-form');
        

          $(document).ready(function () {

            fn_Authorization_initialLoad(this);

        });

        function fn_Authorization_initialLoad() {
            LoadAuthorizationReport();
        }

        function LoadAuthorizationReport() {
            $formContainer.load('@Url.Action("LoadAuthorizationReportForm", "AuthorizationReport")', function () {

                let $thisForm = $(this).find('[perfect-class="form"]');
                $thisForm.find('[name="ToDate"]').val(moment().format('YYYY-MM-DD'));
                $thisForm.validate({ messages: validationMessage });
                $thisForm.find('[name="FromDate"]').val(moment().format('YYYY-MM-DD'));
                $('.DivCriteria').hide();
                $('.DivCriteriaProdLead').hide();


            });
        }
        function fn_showFiltersearchs() {
            let $thisForm = $('[perfect-class="form"]');
            $thisForm.closest('.Customer_rp').find('.CustomerReportfilters').toggleClass('d-none');
        };

       
        var validationMessage = {
           
            'FromDate': {
                'required': 'Please Select Start Date',
                'date': 'Invalid Date',
                'max': jQuery.validator.format('Please Enter a Valid Date')

            },
          
            'ToDate': {
                'required': 'Please Select To Date',
                'dateValidationGtr': '#ToDate',
                'max': jQuery.validator.format('Please Enter a Valid Date')
        },


            'Lead': {
                'required': 'Please Select Lead No.',

            },
            'LeadNo': {
                'required': 'Please Enter Lead No',

            },
           


        };
    </script>

}

