
@{
    ViewBag.Title = "PurchaseReturnReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12" id="PurchaseReturnreport-form">

        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        const $formContainer = $('#PurchaseReturnreport-form');
        $(document).ready(function () {
            PurchaseReturnreportInitialLoad();

            $('#jq-sidemenu').hide();

        });
        var PurchaseReturnReportTransmode = '';
        function PurchaseReturnreportInitialLoad() {
            PurchaseReturnReportTransmode = '@ViewBag.TransMode';
            $formContainer.load('@Url.Action("LoadPurchaseReturnReportForm", "PurchaseReturnReport")?mtd=@ViewBag.mtd', function () {

                let $thisForm = $(this).find('[perfect-class="form"]');
                //Custom Validation messages.
                $thisForm.find('[name="FromDate"]').val(moment().format('YYYY-MM-DD'));
                $thisForm.find('[name="ToDate"]').val(moment().format('YYYY-MM-DD'));

                $thisForm.attr('perfect-onFormSuccess', 'PurchaseReturnreportInitialLoad');
            });

        };





    </script>
}
