# Build artifacts
**/[Bb]in/
**/[Oo]bj/

# Visual Studio specific files
*.suo
*.user
*.userosscache
*.sln.docstates
.vs

# MSBuild log files
**/msbuild.log
**/msbuild.err
**/msbuild.wrn

# NuGet packages folder
**/packages/

# Third-party libraries cache
**/node_modules/

# Any other IDE or editor specific temporary files

# Secrets and connection strings
#**/web.config
**/secrets.json  # Example for a secrets file

# Ignore any local development configuration files
**/launchSettings.json

# Ignore test results
**/TestResults/