[submodule "lib/class-library-api"]
	path = lib/class-library-api
	url = https://github.com/PerfectSoftwareSolutions/class-library-api.git
	branch = master
[submodule "lib/class-library-erp"]
	path = lib/class-library-erp
	url = https://github.com/PerfectSoftwareSolutions/class-library-erp.git
	branch = master
