
@{
    ViewBag.Title = "AuditTrialReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12" id="audittrialreport-form">

        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
             RPTusername = '@ViewBag.Username';
        const $formContainer = $('#audittrialreport-form');
        $(document).ready(function () {
           audittrialreporttInitialLoad();

            $('#jq-sidemenu').hide();

        });

        function audittrialreporttInitialLoad() {

            $formContainer.load('@Url.Action("LoadAuditTrialReportForm", "AuditTrialReport")', function () {

                let $thisForm = $(this).find('[perfect-class="form"]');
                //Custom Validation messages.

                $thisForm.find('[name="FromDate"]').val(moment().format('YYYY-MM-DD'));
                $thisForm.find('[name="ToDate"]').val(moment().format('YYYY-MM-DD'));

                $thisForm.attr('perfect-onFormSuccess', 'audittrialeportInitialLoad');
            });

        };





    </script>
}



