
@{
    ViewBag.Title = "ProjectReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12" id="ProjectReports-form">

        </div>
    </div>
</div>
@section scripts{

    <script type="text/javascript">

        const $formContainer = $('#ProjectReports-form');
             RPTusername = '@ViewBag.Username';
        $(document).ready(function () {
           cutomerticketInitialLoad();
            $('#jq-sidemenu').hide();
        });
        


           // Fucntion to load Customer ticket Partialview form.
        function cutomerticketInitialLoad() {

            $formContainer.load('@Url.Action("LoadProjectReportsForm", "ProjectReports")', function () {

                let $thisForm = $(this).find('[perfect-class="form"]');
                //Custom Validation messages.
                $thisForm.validate({ messages: validationMessage });
                $thisForm.find('[name="FromDate"]').val(moment().format('YYYY-MM-DD'));
                $thisForm.find('[name="ToDate"]').val(moment().format('YYYY-MM-DD'));
                $thisForm.find('[name="AsonDate"]').val(moment().format('YYYY-MM-DD'));
                $thisForm.attr('perfect-onFormSuccess', 'cutomerticketInitialLoad');
            });

        };


        var validationMessage = {
            'ID_Report': {
                'required': 'Please Select Report Name',
                'digits': 'Invalid Report selected'
            },
           'FromDate': {
               'required': 'Please Select Start Date',
               'date': 'Invalid Date',
                'max': jQuery.validator.format('Please Enter a Valid Date')
               
            },
            'ToDate': {
                'required': 'Please Select To Date',
                'dateValidationGtr': '#ToDate',
                'max': jQuery.validator.format('Please Enter a Valid Date')
            },
            'Rptype': {
                'required': 'Please Select Report type',

            },
            'Status': {
                'required': 'Please Select Status',

            },
            'RpFieldptype': {
                'required': 'Please Select Report Fields',

            },
            'BranchID': {
                'required': 'Please Select Branch',

            },
            'ID_Product': {
                'required': 'Please Select Product',

            },
           
            'FK_NetAction': {
                'required': 'Please Select Report Follow up action', 

            },
            'FK_ActionType': {
                'required': 'Please Select Follow up type',

            },
            'LeadNo': {
                'required': 'Please Enter Lead No',

            },


        };

    </script>
    }

