/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}*/

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.dz-demo-panel .dz-demo-trigger {
    /*background-color: #cfcece;*/
    border-radius: unset;
    /*color: #e94560;*/
    color: var(--perfect-primary);
    background: #fff;
    box-shadow: -10px 1px 12px 0px #0000001f;
}

.dz-demo-panel {
    width: unset;
    max-width: calc(99vw - 90px);
}

    .dz-demo-panel .dz-demo-content {
        height: calc(100vh - 90px);
    }

    .dz-demo-panel .dz-demo-header {
        margin-bottom: 0px;
    }

    .dz-demo-panel.show {
        z-index: 1000;
    }
/*.modal {
    z-index: 99999 !important;
}*/
.modal-backdrop {
    z-index: 1040 !important;
}

.profile-card .form-group .form-control {
    font-size: 13px;
    height:50px;
}
.profile-card .form-group .bootstrap-select.form-control button {
    font-size: 13px;
    height: 40px;
}
.table-hover tbody tr:hover {
    color: #fff;
    background-color: #c3bfbf !important;
}
    .table-hover tbody tr:hover td {
        background-color: inherit !important;
    }
button > .loaderClass {
    margin-right:4px;
    display: none;
}

button:disabled > .loaderClass {
    display: inline-block;
}

.bootstrap-select .dropdown-toggle:focus, .bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
    border-color: var(--perfect-primary) !important;
}
.temptableError {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #FF6746;
}


.btn-primary:focus {
    color: #fff;
    border-color: var(--perfect-primary) !important;
    box-shadow: 0 0 0 0.2rem rgba(93, 59, 172, 0.5);
}
.header-left .dashboard_bar{
    font-size:1.5rem;
}
.form-control{
    color:black;
}
    .form-control:hover, .form-control:focus, .form-control.active {
        color: #585656;
    }
input[type="checkbox"]:after {
    cursor: pointer;
}
input[type="checkbox"]:checked:after {
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 0;
}

.form-check-label {
    cursor: pointer;
}
.table.dataTable thead th {
    text-transform: unset;
    /*color: inherit;*/
    padding-bottom: 15px !important;
    padding-top: 15px !important;
    text-align: left;
}
.card-title {
    text-transform: unset;
    
}
.pf_tableHeadMaxW{
    max-width:250px;
}
.pf_tableRowDeleted{
    text-decoration:line-through;
    color:#ccc;
}
table.dataTable tbody td {
    background: inherit !important;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #6060600d;
}
.pft_dynamic_table_dropbtn {
    height: unset;
    min-height: 30px;
}