
@{
    ViewBag.Title = "Index";
}


<div class="container-fluid">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12" id="universalsearch-form">

        </div>
    </div>
</div>
@section scripts{

<script type="text/javascript">
    const $formContainer = $('#universalsearch-form');
   

    $(document).ready(function () {

        fn_Universalsearch_initialLoad();


    });
    function fn_Universalsearch_initialLoad() {
       
        LoadUniversalSearch();

    }

    function LoadUniversalSearch() {

            $formContainer.load('@Url.Action("LoadUniversalSearchlist", "UniversalSearch")' , function () {

                let $thisForm = $(this).find('[perfect-class="form"]');
               
              
                $thisForm.attr('perfect-onFormSuccess', 'fn_Universalsearch_initialLoad');

            });
    }


</script>
}



