
@{
    ViewBag.Title = "SalesReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12" id="salesreport-form">

        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
             RPTusername = '@ViewBag.Username';
        const $formContainer = $('#salesreport-form');
        $(document).ready(function () {
            salesreportInitialLoad();
        
            $('#jq-sidemenu').hide();
           
        });

        function salesreportInitialLoad() {

            $formContainer.load('@Url.Action("LoadsalesReportForm", "SalesReport")', function () {

                let $thisForm = $(this).find('[perfect-class="form"]');
                //Custom Validation messages.
            
                $thisForm.find('[name="FromDate"]').val(moment().format('YYYY-MM-DD'));
                $thisForm.find('[name="ToDate"]').val(moment().format('YYYY-MM-DD'));
           
                $thisForm.attr('perfect-onFormSuccess', 'salesreportInitialLoad');
            });

        };

      
      

       
    </script>
}



