@{
    ViewBag.Title = "SupplierPaymentIndex";
}
<div class="container-fluid">
    <div class="row">
        @Html.AntiForgeryToken()
        <div class="col-sm-12" id="SupplierPayment-form">

        </div>
    </div>
</div>
@section scripts{

    <script>
    var SupplierPaymentTransMode;
    const $formContainer = $('#SupplierPayment-form');

    $(document).ready(function () {
        // $('#jq-sidemenu').hide();
        SupplierPaymentTransMode = "";
        getSessionValue("FRM_TRANSMODE", function (result) {
            SupplierPaymentTransMode = result;
        });
        SupplierPayment_initialLoad();
    });

    function SupplierPayment_initialLoad() {
        fn_SupplierPaymentAddForm();
    }

    function fn_SupplierPaymentAddForm() {
         $formContainer.load('@Url.Action("LoadSupplierPaymentForm", "SupplierPayment")', function () {
                        let $thisForm = $(this).find('[perfect-class="form"]');
                      //  $thisForm.find('button[name=delete]').addClass('d-none');
                    //$thisForm.find('[name="TransDate"]').val(moment().format('YYYY-MM-DD'));
                    //$thisForm.find('[name="EffectDate"]').val(moment().format('YYYY-MM-DD'));
                      //  $thisForm.validate({ messages: validationMessage });
             $thisForm.attr('perfect-onFormSuccess', 'SupplierPayment_initialLoad');
                    });
                }
    </script>


}