
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12" id="incentiveReport-form">

        </div>
    </div>

</div>

@section scripts {
    <script type="text/javascript">
        const $formContainer = $('#incentiveReport-form');
       
         $(document).ready(function () {

            fn_incentive_initialLoad(this);

        });

        function fn_incentive_initialLoad() {
       
            LoadIncetiveReport();
         
         
        }

        function LoadIncetiveReport() {
            isModifed = false;
            $formContainer.load('@Url.Action("LoadIncetiveReport", "IncentiveReport")', function () {

                let $thisForm = $(this).find('[perfect-class="form"]');
                $thisForm.find('[name="ToDate"]').val(moment().format('YYYY-MM-DD'));
                //let $thisForm = $(this).find('[perfect-class="form"]');
                $thisForm.validate({ messages: validationMessage });
                $thisForm.find('[name="FromDate"]').val(moment().format('YYYY-MM-DD'));
                $thisForm.find('[name="ASonDate"]').val(moment().format('YYYY-MM-DD'));

                // $thisForm.attr('perfect-onFormSuccess', 'fn_incentive_initialLoad');
               // $('.percentageDiv').hide();
              
               // $('.amountDiv').hide();
                $('.DivASonDate').hide()

            });
            
        }
        function fn_showFiltersearchs() {
            let $thisForm = $('[perfect-class="form"]');
            $thisForm.closest('.incentive_rp').find('.incentiveReportfilters').toggleClass('d-none');
        };

        var validationMessage = {
            'ID_Report': {
                'required': 'Please Select Report Name',
                //'digits': 'Invalid Service Selected'
            },
            'FK_Category': {
                'required': 'Please Select Category',
                'digits': 'Invalid Category Selected'
            },
            'IncTrDividentPercent': {
                'required': 'Please enter Percentage'
            },
            'FromDate': {
                'required': 'Please select From Date'
            },
            'ToDate': {
                'required': 'Please Select To Date'
            },
            'DesignationID': {
                'required': 'Please Select Designation'
            },
            'ASonDate': {
                'required': 'Please Select As on Date '
            }


        };

    </script>

 }

