
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12" id="supplierledgerreport-form">

        </div>
    </div>
</div>
@section scripts{

    <script type="text/javascript">

        const $formContainer = $('#supplierledgerreport-form');

        $(document).ready(function () {

           SupplierledgerreportInitialLoad();
            $('#jq-sidemenu').hide();
        });

        function fn_showFiltersearch() {
            let $thisForm = $('[perfect-class="form"]');
            $thisForm.closest('.Supplierledgerreport').find('.supplierledgerreportsearch-body').toggleClass('d-none');
    }

        function SupplierledgerreportInitialLoad() {
            $formContainer.load('@Url.Action("LoadSupplierLedgerreportLoadForm", "SupplierReport")?mtd=@ViewBag.mtd', function () {

                let $thisForm = $(this).find('[perfect-class="form"]');


                Getdepartmentdefault();

              
                $thisForm.validate({ messages: validationMessage });
               
                $thisForm.attr('perfect-onFormSuccess', 'SupplierledgerreportInitialLoad');
            });

        };

        debugger

        var validationMessage = {


            'BranchID': {
                'required': 'Please Select Branch',
                'digits': 'Please Enter valid Branch'

            },
            'SuppID': {
                'required': 'Please Select Supplier',
                'digits': 'Please Enter valid Supplier'

            },
           

        };


    </script>

}
