
@{
    ViewBag.Title = "";
}

<div class="container-fluid">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12" id="userpasswordreset-form">

        </div>
    </div>
</div>
@section scripts{

    <script type="text/javascript">

        const $formContainer = $('#userpasswordreset-form');

        $(document).ready(function () {
            UserpasswordresetInitialLoad();

        });
         function UserpasswordresetInitialLoad() {
          // loadUsersList();
             loadUserpasswordresetAddForm();
        }


           // Fucntion to load Branch ADD form
        function loadUserpasswordresetAddForm() {

            $formContainer.load('@Url.Action("LoadFormUsersPasswordReset", "UserPasswordreset")', function () {

                let $thisForm = $(this).find('[perfect-class="form"]');

                // ... Custom validation message
               $thisForm.validate({ messages: validationMessage });
                // ... Custom validation message

                $thisForm.attr('perfect-onFormSuccess', 'UserpasswordresetInitialLoad');
            });

        };

    </script>
}


