@{
    ViewBag.Title = "Product Enquiry";

}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12" id="productEnquiry-form">
        </div>
    </div>
</div>
@section scripts{
    <script>
        const $formContainer = $('#productEnquiry-form');
        $(document).ready(function () {
            loadProductEnquiryForm();
             @*@if (ViewBag.PagedAccessRights.UsrrlMsView)
             {
                <text> loadMenuGroupList(this); </text>
             }*@
        });

        var validationMessage = {
          
        };

      
        function loadProductEnquiryForm() {
            $formContainer.load('@Url.Action("LoadFormProductEnquiry", "Product")', function () {
                //let $thisForm = $(this).find('[perfect-class="form"]');
                ////$thisForm.validate({ messages: validationMessage });
                //$thisForm.attr('perfect-onFormSuccess', 'menuGroupInitialLoad');
            });
        }
    </script>
}