@{
    ViewBag.Title = "Index";
}
<div class="container-fluid">
    <div class="row">
        @Html.AntiForgeryToken()
        @*<div class="col-lg-12" id="CustomerProduct-form">

            </div>*@
    </div>
</div>


@section scripts{

    <script>
       // const $formContainer = $('#CustomerProduct-form');

        $(document).ready(function () {
            $('#jq-sidemenu').hide();
            LoadMultipleImage();
        });
        function LoadMultipleImage() {
            previewImages();
        }
             document.querySelector('#ImgProduct').addEventListener("change", previewImages);
    function previewImages() {
        //debugger;
        var preview = document.querySelector('#preview');

        if (this.files) {

            [].forEach.call(this.files, readAndPreview);
        }

        function readAndPreview(file) {
            debugger;
            //var imgProduct = "";
            // Make sure `file.name` matches our extensions criteria
            if (!/\.(jpe?g|png|gif)$/i.test(file.name)) {
                return alert(file.name + " is not an image");
            } // else...

            var reader = new FileReader();
            //var imgbase64data = base64_encode(document.getElementById("ImgProduct").img);
            //sessionStorage.setItem["ImgProduct", preview] = imgbase64data;
            //sessionStorage.setItem["ImgProduct", preview] = preview.innerHTML.toString();
            reader.addEventListener("load", function () {
                var image = new Image();
                var imagename = "";
                image.height = 200;
                image.title = file.name;
                imagename.name = image.title;
                image.src = this.result;
                image.className = "thumbnail";
                preview.appendChild(image);

            });

            reader.readAsDataURL(file);

        }


    }

    </script>
}