
@{
    ViewBag.Title = "Index";
}




<div class="container-fluid">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12" id="Material-form">

        </div>
    </div>
</div>

@section scripts {

    <script type="text/javascript">

        const $formContainer = $('#Material-form');
        //var MaterialTransMode = '';

         $(document).ready(function () {

            fn_MaterialRepo_initialLoad();


        });
        function fn_showFilter() {
            let $thisForm = $('[perfect-class="form"]');
            $thisForm.closest('.jq_leadgeneration_body').find('.leadformSesction').toggleClass('d-none');
        }

        function fn_MaterialRepo_initialLoad() {
            @*MaterialTransMode ='@ViewBag.TransMode';*@
            LoadAddMaterialRepo();

        }
        var validationMessage = {
            'datefilter': {
                'required': 'Please Select Target Date'
            },
            'FK_Mode': {
                'required': 'Please select Report name'
            },
         
        }

        function LoadAddMaterialRepo() {

            @*$formContainer.load('@Url.Action("LoadMaterialRequestRepo", "MaterialRequestReports")?mtd=@ViewBag.mtd' + '&TransMode=@ViewBag.TransMode', function () {*@
            $formContainer.load('@Url.Action("LoadMaterialRequestRepo", "MaterialRequestReports")?mtd=@ViewBag.mtd' , function () {

                let $thisForm = $(this).find('[perfect-class="form"]');
                $thisForm.validate({ messages: validationMessage });
                $("#divMaterialList1").hide();
                $("#divMaterialList2").hide();
                $("#divMaterialList").show();
                  //$thisForm.find('[name="FromDate"]').val(moment().format('YYYY-MM-DD'));
                  //$thisForm.find('[name="ToDate"]').val(moment().format('YYYY-MM-DD'));

                $thisForm.closest('.jq_leadgeneration_body').find('.leadformSesction').toggleClass('d-none');
                $thisForm.attr('perfect-onFormSuccess', 'fn_MaterialRepo_initialLoad');
                $thisForm.find('[name="AsonDate"]').val(moment().format('YYYY-MM-DD'));


            });
        }
    </script>
}