@model long[]
@{
    ViewBag.page = "MenuList";
    ViewBag.Title = "MenuList";
  
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*@Html.Action("LoadQuickMenu", "Home")*@



<div class="container-fluid" id="perfect-Menulist-main">
    @Html.Action("LoadMenuList", "Home", new { menuID =Convert.ToInt64( Model[0]),subid= Convert.ToInt64(Model[1]) })
</div>





@section scripts{
    <script>
        $(document).ready(function () {
            $sideMenuOptions.menu.addClass('d-none');
        });
    </script>

}