@model List<PerfectWebERP.Models.CountryModel.CountryView>
@{
    ViewBag.Title = "SampleReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SampleReport</h2>



<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Sample Report</h4>
                </div>
                <div class="card-body">
                    <div class="basic-form">

                        <div class="col-xl-6">
                            <!-- State -->
                            <div class="form-group row" perfect-class="formGroup">
                                <label class="col-lg-4 col-form-label">
                                    <span perfect-class="formGroupLabel">State</span>
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-8">
                                    <div class="input-group">
                                        <select class="form-control " id="countryselect" name="StateID" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select">
                                            <option value="0">All</option>
                                            @if (!(Model is null))
                                            {
                                                foreach (var country in Model)
                                                {
                                                    <option value="@country.CountryID">@country.CountryName</option>
                                                }
                                            }
                                        </select>
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button" onclick="getstatereport()">Button</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- State -->
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>


</div>


@section scripts{
    <script type="text/javascript">

        function getstatereport(){
            let country = $('#countryselect').val();

            window.open('@Url.Action("GetSampleReport", "Sample")?countryID=' + country)
    }
    </script>
}