
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12" id="stocklistreport-form">

        </div>
    </div>
</div>
@section scripts{

    <script type="text/javascript">

        const $formContainer = $('#stocklistreport-form');
            RPTusername = '@ViewBag.Username';
        $(document).ready(function () {

           StocklistreportInitialLoadAddForm();
            $('#jq-sidemenu').hide();
        });


        function StocklistreportInitialLoadAddForm() {

            $formContainer.load('@Url.Action("LoadFormStocklistReport", "StockReportList")', function () {

                let $thisForm = $(this).find('[perfect-class="form"]');

                Getdepartmentdefault();
                $thisForm.validate({ messages: validationMessage });
                $thisForm.find('[name="FromDate"]').val(moment().format('YYYY-MM-DD'));
                $thisForm.find('[name="ToDate"]').val(moment().format('YYYY-MM-DD'));                
                $thisForm.attr('perfect-onFormSuccess', 'StocklistreportInitialLoadAddForm');
                $('.Fieldsid').hide();
            });

        };

        debugger

        var validationMessage = {


            'ID_Report': {
                'required': 'Please Select Report Name',
                //'digits': 'Invalid Report selected'
            },

            'Reportfields': {
                'required': 'Please Select Report Fields',

            },

            'FromDate': {
                'required': 'Please select From Date',
                'min': jQuery.validator.format('Please Enter a Valid Date'),

            },
            'ToDate': {
                'required': 'Please select To Date',
                'min': jQuery.validator.format('Please Enter a Valid Date'),
            },

        };


    </script>

}



