/*body {
    background-color:red !important;
}*/
table {
    border-collapse: collapse !important;
}

th, td {
    border: 1px solid black !important;
    text-align: left;
}


.multiline {
    white-space: pre-wrap;
}

.column-table {
    width: 100px; /* Your fixed width */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#hiddenMeasureElement {
    visibility: hidden;
    position: absolute;
    font-size: 16px; /* Replace with your desired font size */
    font-family: Arial, sans-serif; /* Replace with your desired font family */
}

.element {
    border: 2px solid transparent; /* Start with a transparent border */
    transition: border 0.3s; /* Add a transition for smooth animation */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .element:hover {
        border: 2px solid blue; /* Add a solid blue border on hover */
    }

.pmain-body {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
}

.horizontal-line {
    border-top: 1px solid black;
}

.vertical-line {
    border-left: 1px solid black;
    /*height: 100px; /* Adjust the height as needed */
}