

.search {
  /*box-shadow: 0 10px 40px 0 rgba(255, 59, 66, 0.29);*/
  border-radius: 100px;
  display: inline-block;
}

.search-btn {
  background: #e94560;
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  width: 40px;
  height: 40px;
  flex-shrink: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-btn:hover {
  cursor: pointer;
}
.search-btn:focus {
  outline: none;
}

.search-input {
  font-size: 14px;

  border: none;
  background: transparent;
  margin-right: 10px;
  margin-left: 0px;
  padding-left: 50px;
  opacity: 0;
  display: none;
     margin-top: -30px;

}
.search-input:focus {
  outline: none;
}

.search-open {
  background: #fff;
  border: 1px solid #eee;
   height: 45px;
    
}
.search-open .search-icon {
  display: flex;
}
.search-open .search-input {
  opacity: 1;
  display: block;
}