
<div class="container-fluid">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12" id="pickupdeliveryreport-form">

        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">

        const $formContainer = $('#pickupdeliveryreport-form');

        $(document).ready(function () {

           PickupdeliveryreportInitialLoadAddForm();
            $('#jq-sidemenu').hide();
        });


        function PickupdeliveryreportInitialLoadAddForm() {
            debugger
            $formContainer.load('@Url.Action("LoadFormPickupdeliveryReport", "PickupdeliveryReport")', function () {

                let $thisForm = $(this).find('[perfect-class="form"]');
                $('#divAreawiseList').hide();
                $('#divDeliveryreportList').hide();
              

                $thisForm.validate({ messages: validationMessage });
                $thisForm.find('[name="FromDate"]').val(moment().format('YYYY-MM-DD'));
                $thisForm.find('[name="ToDate"]').val(moment().format('YYYY-MM-DD'));

                $thisForm.find('[name="BranchID"]').val('@ViewBag.BranchID').selectpicker('refresh');
                $thisForm.find('[name="DepartmentID"]').val('@ViewBag.DepartmentID').selectpicker('refresh');

                $thisForm.attr('perfect-onFormSuccess', 'PickupdeliveryreportInitialLoadAddForm');
            });

        };

        debugger

        var validationMessage = {


            'ID_Report': {
                'required': 'Please Select Report Name',
                'digits': 'Invalid Report selected'
            },

            'FromDate': {
                'required': 'Please select From Date',
                'min': jQuery.validator.format('Please Enter a Valid Date'),

            },
            'ToDate': {
                'required': 'Please select To Date',
                'min': jQuery.validator.format('Please Enter a Valid Date'),
            }

        };


    </script>

}
