
@{
    ViewBag.Title = "BuybackReport";
}

<div class="container-fluid">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12" id="Buybackreport-form">
            <table id="tab-table" class="Customtable"></table>
        </div>
    </div>

</div>



<script src="@Url.Content("~/Assets/js/jquery-2.1.4.min.js")"></script>
<script type="text/javascript">
    const $formContainer = $('#Buybackreport-form');
    RPTusername = '@ViewBag.Username';

    $(document).ready(function () {
        fn_BuyBackReport_initialLoad(this);
    });

    function fn_BuyBackReport_initialLoad() {
        LoadBuyBackReport();
    }

    function LoadBuyBackReport() {
        $formContainer.load('@Url.Action("LoadBuyBackReportForm", "BuyBackReport")?mtd=@ViewBag.mtd', function () {

            let $thisForm = $(this).find('[perfect-class="form"]');
            $thisForm.find('[name="ToDate"]').val(moment().format('YYYY-MM-DD'));
            $thisForm.validate({ messages: validationMessage });
            $thisForm.find('[name="FromDate"]').val(moment().format('YYYY-MM-DD'));
        });
    }

    var validationMessage = {
        'FromDate': {
            'required': 'Please Select From Date',
        },

        'ToDate': {
            'required': 'Please Select To Date',
        },

        'ID_Report': {
            'required': 'Please Select Report Name',
        }
    }
</script>
