
@{
    ViewBag.Title = "SalesOrderReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12" id="salesordreport-form">

        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        const $formContainer = $('#salesordreport-form');
        $(document).ready(function () {
            salesordreportInitialLoad();

            $('#jq-sidemenu').hide();

        });

        function salesordreportInitialLoad() {

            $formContainer.load('@Url.Action("LoadsalesodReportForm", "SalesOrderRpt")', function () {

                let $thisForm = $(this).find('[perfect-class="form"]');
                //Custom Validation messages.

                $thisForm.find('[name="FromDate"]').val(moment().format('YYYY-MM-DD'));
                $thisForm.find('[name="ToDate"]').val(moment().format('YYYY-MM-DD'));

                $thisForm.attr('perfect-onFormSuccess', 'salesordreportInitialLoad');
            });

        };





    </script>
}




