
@model PerfectWebERP.Models.ReportSettingModel.ReportSettingModelView
@{
    ViewBag.Title = "ReportView";

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12" id="ReportView-form">

        </div>
    </div>
</div>

<script src="~/Scripts/jqDOM/searchDOMCreation.js"></script>

@section scripts{

    <script>

        const $formContainer = $('#ReportView-form');

    $(document).ready(function () {

        fn_LoadReportView();

        $('#jq-sidemenu').hide();

    });

    var validationMessage = {

    }


     // Fucntion to load Customer Service Register ADD form
    function fn_LoadReportView() {

         $formContainer.load('@Url.Action("LoadReportViewForm", "ReportSetting")', function () {
                let $thisForm = $(this).find('[perfect-class="form"]');

             //$thisForm.find('[name=FromDate""]').val(moment().format('YYYY-MM-DD'));
             //$thisForm.find('[name=ToDate""]').val(moment().format('YYYY-MM-DD'));
            
             //initFunctions($thisForm);
                 $thisForm.validate({
                     // ...
                     messages: validationMessage
                     // ...
                 });



                //initFunctions($thisForm);
            });
        }

   
    </script>


}






