
@{
    ViewBag.Title = "";
}



<div class="container-fluid">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12" id="userchangepassword-form">

        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">


        const $formContainer = $('#userchangepassword-form');

        $(document).ready(function () {
            UsersChangePasswordInitialLoad();
            $('#jq-sidemenu').hide();
        });

        var validationMessage = {


            'PresentPassword': {
                'required': 'Please Enter Present Password',
               
            },

          
            'NewPassword': {
                'required': 'Please Enter Password',
               
            },


            'ConfirmPassword': {
                'required': 'Please Enter Password',
                
            },

        };


        function UsersChangePasswordInitialLoad() {
     
            loadUsersChangePasswordAddForm();
        }


           // Fucntion to load Branch ADD form
        @*function loadUsersChangePasswordAddForm() {

            let $tempModel = createSearchModalDOM2().modal;
            $tempModel.disable
            //$tempModel.modal({ backdrop: 'static', keyboard: false });
            $tempModel.find('.modal-title').addClass("d-none");
            $tempModel.show
            $tempModel.find('.modal-dialog').addClass('modal-xl');

            $tempModel.find('.modal-body').load('@Url.Action("LoadUserchangepassword", "UserChangepassword")', function () {

                let $thisForm = $(this).find('[perfect-class="form"]');

                // ... Custom validation message
               $thisForm.validate({ messages: validationMessage });
                // ... Custom validation message

                $thisForm.attr('perfect-onFormSuccess', 'UsersChangePasswordInitialLoad');
            });*@
        function loadUsersChangePasswordAddForm() {
            $formContainer.load('@Url.Action("LoadUserchangepassword", "UserChangepassword")', function () {

                let $thisForm = $(this).find('[perfect-class="form"]');

                // ... Custom validation message
               $thisForm.validate({ messages: validationMessage });
                // ... Custom validation message

                $thisForm.attr('perfect-onFormSuccess', 'UsersChangePasswordInitialLoad');
            });

        };
        </script>
}
