
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12" id="ExtraWorkReport-form">

        </div>
    </div>
</div>


@section scripts{

    <script type="text/javascript">

        const $formContainer = $('#ExtraWorkReport-form');

        $(document).ready(function () {
            ExtraWorkInitialLoad();

        });



        function ExtraWorkInitialLoad() {

             

             loadExtraWorkAddForm();
        }


           // Function to load ExtraWork ADD form
        function loadExtraWorkAddForm() {

            $formContainer.load('@Url.Action("LoadExtraworkReport", "ExtraworkReport")', function () {

                let $thisForm = $(this).find('[perfect-class="form"]');

                $thisForm.find('[name="FromDate"]').val(moment(new Date()).format('YYYY-MM-DD'));
                $thisForm.find('[name="ToDate"]').val(moment(new Date()).format('YYYY-MM-DD'));

                // ... Custom validation message
                $thisForm.validate({ messages: validationMessage });

            });

        };


        var validationMessage = {
            'FromDate': {
                'required': 'Please Select From Date',

            },
            'ToDate': {
                'required': 'Please Select To Date',

            }
        };
       

        function fn_showFiltersearchs() {
            let $thisForm = $('[perfect-class="form"]');
            $thisForm.closest('.incentive_rp').find('.incentiveReportfilters').toggleClass('d-none');
        };





    </script>



}





