@{
    ViewBag.Title = "Index";
}
<div class="container-fluid">
    <div class="row">
        @Html.AntiForgeryToken()
        @*<div class="col-lg-12" id="CustomerProduct-form">

        </div>*@
    </div>
</div>


@section scripts{

    <script>
       // const $formContainer = $('#CustomerProduct-form');

        $(document).ready(function () {
           // debugger;
          //  $('#jq-sidemenu').hide();
            LoadMultipleImage();
        });
        function LoadMultipleImage() {
            //debugger;
            ImageUpload(this);
           // previewImages();
            
        }
    //         document.querySelector('#ImgProduct').addEventListener("change", previewImages);
    //function previewImages() {
    //    //debugger;
    //    GetMultipleImage();
    //    var preview = document.querySelector('#preview');

    //    if (this.files) {

    //        [].forEach.call(this.files, readAndPreview);
    //    }

    //    function readAndPreview(file) {
    //        debugger;
    //        //var imgProduct = "";
    //        // Make sure `file.name` matches our extensions criteria
    //        if (!/\.(jpe?g|png|gif)$/i.test(file.name)) {
    //            return alert(file.name + " is not an image");
    //        } // else...

    //        var reader = new FileReader();
    //        //var imgbase64data = base64_encode(document.getElementById("ImgProduct").img);
    //        //sessionStorage.setItem["ImgProduct", preview] = imgbase64data;
    //        //sessionStorage.setItem["ImgProduct", preview] = preview.innerHTML.toString();
    //        reader.addEventListener("load", function () {
    //            var image = new Image();
    //            var imagename = "";
    //            image.height = 200;
    //            image.title = file.name;
    //            imagename.name = image.title;
    //            image.src = this.result;
    //            image.className = "thumbnail";
    //            preview.appendChild(image);

    //        });

    //        reader.readAsDataURL(file);

    //    }


    //}


        //function Getimgcntrl1(ele, val, data, mod, modval, imgname) {
        //    debugger;
        //    let $thisForm = $(ele).closest('[perfect-class="form"]');

        //    if (casevl == "Product") {
        //        let sel = "";
        //        let selval = "";
        //        if (data == "") {
        //            sel = $thisForm.find('[name=ID_ImgMode] option:selected').text();
        //            selval = $thisForm.find('[name=ID_ImgMode] option:selected').val();

        //        }
        //        else {
        //            sel = mod;
        //            selval = modval;
        //        }

        //        if (document.getElementById('img' + selval) == null) {

        //            var div = document.createElement("div");
        //            div.className = "col-xl-12 imagedivd";
        //            div.id = "div" + selval;

        //            var div1 = document.createElement("div");
        //            div1.className = "form-group row"
        //            var label = document.createElement("Label");
        //            label.className = "col-lg-2 col-form-label";
        //            var text = document.createTextNode(sel);
        //            label.appendChild(text);
        //            div1.appendChild(label);

        //            var div2 = document.createElement("div");
        //            div2.className = "col-lg-2";
        //            var input = document.createElement('input');
        //            input.type = "file";
        //            input.id = "fileup" + selval;
        //            input.accept = "image/*";
        //            input.className = "form-control";
        //            div2.appendChild(input);

        //            var div3 = document.createElement("div");
        //            div3.className = "col-lg-12";
        //            var img = document.createElement('img');
        //            img.id = "img" + selval;
        //            img.className = "thumbnail";
        //            if (data != "") {
        //                img.src = val;
        //                img.name = imgname;
        //            }
        //            div3.appendChild(img);
        //            div1.appendChild(div2);
        //            div1.appendChild(div3);
        //            div.appendChild(div1);
        //            document.getElementById('imagediv').appendChild(div);
        //            if (document.getElementById('img' + selval) != null) {
        //                document.getElementById('img' + selval).onload = function () {
        //                    Imagechng('img' + selval, selval);
        //                };
        //            }
        //            $(document).on("change", "#fileup" + selval, function () {
        //                imgupld('fileup' + selval, 'img' + selval, sel)
        //            });

        //        }


        //    }

        //    else if (casevl == "WarrantyType") {
        //        debugger;
        //        let sel = "";
        //        let selval = "";
        //        if (data == "") {
        //            sel = $thisForm.find('[name=ID_ImgMode] option:selected').text();
        //            selval = $thisForm.find('[name=ID_ImgMode] option:selected').val();

        //        }
        //        else {
        //            sel = mod;
        //            selval = modval;
        //        }

        //        if (document.getElementById('img' + selval) == null) {

        //            var div = document.createElement("div");
        //            // div.className = "col-lg-12 imagedivd";
        //            div.id = "div" + selval;

        //            var div1 = document.createElement("div");
        //            //  div1.className = "form-group row"
        //            var label = document.createElement("Label");
        //            label.className = "col-lg-12 col-form-label";
        //            var text = document.createTextNode(sel);
        //            label.appendChild(text);
        //            div1.appendChild(label);

        //            var div2 = document.createElement("div");
        //            div2.className = "col-xl-12";
        //            var input = document.createElement('input');
        //            input.type = "file";
        //            input.id = "fileup" + selval;
        //            input.accept = "image/*";
        //            input.className = "form-control";
        //            input.multiple = true;
        //            div2.appendChild(input);

        //            var div3 = document.createElement("div");
        //            div3.className = "col-xl-12";
        //            var img = document.createElement('img');
        //            img.id = "img" + selval;
        //            img.className = "thumbnail";
        //            if (data != "") {
        //                img.src = val;
        //                img.name = imgname;
        //            }
        //            div3.appendChild(img);
        //            div1.appendChild(div2);
        //            div1.appendChild(div3);
        //            div.appendChild(div1);
        //            document.getElementById('imagediv').appendChild(div);
        //            if (document.getElementById('img' + selval) != null) {
        //                document.getElementById('img' + selval).onload = function () {

        //                };
        //            }
        //            $(document).on("change", "#fileup" + selval, function () {
        //                imgupld('fileup' + selval, 'img' + selval, sel)
        //            });
        //        }
        //    }

        //    else if (casevl == "WarrantyType") {
        //        // getModeVal();
        //        GetWarrantyimg(ele, '', '', '', 0, '')
        //    }

        //    if (data == "") {
        //        sel = $thisForm.find('[name=ID_ImgMode] option:selected').text();
        //        selval = $thisForm.find('[name=ID_ImgMode] option:selected').val();

        //    }
        //    else {
        //        sel = mod;
        //        selval = modval;
        //    }
        //    if (selval == 2) {
        //        getModeVal();
        //    }
        //}

        //function Getmodecntrl(ele, val, data, emodname, eimgmod, ecode, imagname) {
        //    debugger;
        //    let $thisForm = $(ele).closest('[perfect-class="form"]');
        //    let modname = "";
        //    let code = "";
        //    let imgmod = "";
        //    if (data == "") {

        //        modname = $thisForm.find('[name=ModeVal] option:selected').text();
        //        code = $thisForm.find('[name=ModeVal] option:selected').val();
        //        imgmod = $thisForm.find('[name=ID_ImgMode] option:selected').val();
        //    }
        //    else {

        //        modname = emodname;
        //        code = ecode;
        //        imgmod = eimgmod;
        //        console.log(modname)

        //    }

        //    if (document.getElementById('img' + imgmod + code) == null) {
        //        var div = document.createElement("div");
        //        div.className = "col-xl-12 imagedivd";
        //        var div1 = document.createElement("div");
        //        div1.className = "form-group row"
        //        var label = document.createElement("Label");
        //        label.className = "col-lg-2 col-form-label";
        //        var text = document.createTextNode(modname);
        //        label.appendChild(text);
        //        div1.appendChild(label);
        //        var div2 = document.createElement("div");
        //        div2.className = "col-lg-4";
        //        var input = document.createElement('input');
        //        input.type = "file";
        //        input.id = "fileup" + imgmod + code;
        //        input.accept = "image/*";
        //        input.className = "form-control";
        //        input.multiple = true;
        //        div2.appendChild(input);

        //        var div3 = document.createElement("div");
        //        div3.className = "col-lg-12";
        //        var img = document.createElement('img');
        //        img.id = "img" + imgmod + code;
        //        img.height = "250px";
        //        img.width = "150px";
        //        img.className = "thumbnail";
        //        if (data != "") {
        //            img.src = val;
        //            img.name = imagname;
        //        }
        //        div3.appendChild(img);
        //        div1.appendChild(div2);
        //        div1.appendChild(div3);
        //        div.appendChild(div1);
        //        document.getElementById('imagediv').appendChild(div);
        //        //   previewImages();
        //        if (document.getElementById('img' + imgmod + code) != null) {

        //            document.getElementById('img' + imgmod + code).onload = function () {

        //                WarrantyTypeImagechng('img' + imgmod + code, imgmod, code);
        //            };
        //        }
        //        $(document).on("change", "#fileup" + imgmod + code, function () {
        //            imgupld('fileup' + imgmod + code, 'img' + imgmod + code, modname)
        //        });
        //    }
        //}


    </script>
    }