
@model PerfectWebERP.Models.ReportSettingModel.ReportSettingModelView
@{
    ViewBag.Title = "Tickethistory";

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12" id="Tickethistory-form">

        </div>
    </div>
</div>

<script src="~/Scripts/jqDOM/searchDOMCreation.js"></script>

@section scripts{

    <script>

        const $formContainer = $('#Tickethistory-form');

    $(document).ready(function () {

        fn_LoadReportView();

        $('#jq-sidemenu').hide();

    });

    var validationMessage = {

    }


     // Fucntion to load Customer Service Register ADD form
    function fn_LoadReportView() {

         $formContainer.load('@Url.Action("LoadTicketForm", "Tickethistory")', function () {
               
             const params = new URLSearchParams(window.location.search)
           
             TicketNo= params.get('TicketNo')
             
        
            });
       
        @*$formContainer.load('@Url.Action("LoadTrackInfo", "Home")?masterID=' + rowData['ID_FIELD'] + '&tmode=' + '@ViewBag.Module', function () {               
             const params = new URLSearchParams(window.location.search)           
             TicketNo= params.get('TicketNo')   
            });*@
        }


    </script>


}






