
@{
    ViewBag.Title = "FinancePlan";
}
<div class="container-fluid">
    <div class="row">
        @Html.AntiForgeryToken()
        <div class="col-lg-12" id="financePlan-form">

        </div>
    </div>
</div>

@section scripts{
    
    <script>
        const $formContainer = $('#financePlan-form');
         $(document).ready(function () {
           // $('#jq-sidemenu').hide();
            FinancePlanInitialLoad();

        });

        function FinancePlanInitialLoad() {
            //debugger;
            LoadFinancePlanform();            
        }

         function LoadFinancePlanform() {
            $formContainer.load('@Url.Action("FinancePlan", "FinancePlan")', function () {
                let $thisForm = $(this).find('[perfect-class="form"]');
                $thisForm.find('[name="EffectDate"]').val(moment().format('YYYY-MM-DD'));
                $thisForm.validate({ messages: validationMessage });
                $thisForm.attr('perfect-onFormSuccess', 'FinancePlanInitialLoad');
            });
        };

    </script>
}