
@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@

<div class="container-fluid">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12" id="StageWisereport-form">

        </div>
    </div>
</div>
@section scripts{

    <script type="text/javascript">



        const $formContainer = $('#StageWisereport-form');
        //var EQSTransMode = '';
        $(document).ready(function () {
            StageWiseinitialLoad();
            $('#jq-sidemenu').hide();
        });
        function fn_showFilter() {
            let $thisForm = $('[perfect-class="form"]');
            $thisForm.closest('.jq_leadgeneration_body').find('.leadformSesction').toggleClass('d-none');
        }


        function StageWiseinitialLoad() {
            @*EQSTransMode = '@ViewBag.TransMode';*@
            StageWisereportInitialLoadAddForm();


        }

        var validationMessage = {
            'AsOnDate': {
                'required': 'Please enter As On Date'
            }
        }

        function StageWisereportInitialLoadAddForm() {

         $formContainer.load('@Url.Action("LoadProjectwiseStagesReportForm", "StageWiseCollectionReport")',  function () {
            let $thisForm = $(this).find('[perfect-class="form"]');
             $thisForm.find('[name="AsOnDate"]').val(moment().format('YYYY-MM-DD'));
             $thisForm.validate({ messages: validationMessage });
             $thisForm.attr('perfect-onFormSuccess', 'StageWiseinitialLoad');
            $thisForm.closest('.jq_leadgeneration_body').find('.leadformSesction').addClass('d-none');
          
           
        
             
        });
    };

       






</script>
































































}