
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<div class="container-fluid">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12" id="stockreport-form">

        </div>
    </div>
</div>
@section scripts{

    <script type="text/javascript">

        const $formContainer = $('#stockreport-form');

        $(document).ready(function () {

           StockreportInitialLoadAddForm();
            $('#jq-sidemenu').hide();
        });


        function StockreportInitialLoadAddForm() {

            $formContainer.load('@Url.Action("LoadFormStockReport", "StockReport")', function () {

                let $thisForm = $(this).find('[perfect-class="form"]');

                Getdepartmentdefault();
                $thisForm.validate({ messages: validationMessage });
                $thisForm.find('[name="FromDate"]').val(moment().format('YYYY-MM-DD'));
                $thisForm.find('[name="ToDate"]').val(moment().format('YYYY-MM-DD'));
               
                $thisForm.attr('perfect-onFormSuccess', 'StockreportInitialLoadAddForm');
            });

        };

        debugger

        var validationMessage = {
            

            'ID_Report': {
                'required': 'Please Select Report Name',
                'digits': 'Invalid Report selected'
            },

            'Reporttype': {
                'required': 'Please Select Report type',

            },

            'FromDate': {
                'required': 'Please select From Date',
                'min': jQuery.validator.format('Please Enter a Valid Date'),

            },
            'ToDate': {
                'required': 'Please select To Date',
                'min': jQuery.validator.format('Please Enter a Valid Date'),
            },

        };


    </script>

    }

