
@{
    ViewBag.Title = "TicketReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12" id="ticket-form">

        </div>
    </div>
</div>
@section scripts{
<script type="text/javascript">

     const $formContainer = $('#ticket-form');

        $(document).ready(function () {
          ticketInitialLoad();

        });

       // Fucntion to load  ticket Partialview form.
        function ticketInitialLoad() {

            $formContainer.load('@Url.Action("LoadTicketForm", "TicketReport")', function () {

                let $thisForm = $(this).find('[perfect-class="form"]');
                //Custom Validation messages.
                $thisForm.validate({ messages: validationMessage });

                $thisForm.attr('perfect-onFormSuccess', 'ticketInitialLoad');
            });

        };
</script>
  }
