@{
    ViewBag.Title = "Service List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <input type="hidden" id="ServiceTransMode" value="" />
    <div class="row">
        <div class="col-lg-12" id="jq_ServiceListIndex_formContainer">

        </div>
    </div>


</div>
@section scripts{
    <script type="text/javascript">

        //--- Form
        const $formContainer = $('#jq_ServiceListIndex_formContainer');
        // Initial load functions
        $(document).ready(function () {
            fn_ServiceListIndex_initialLoad();
        });

    function fn_ServiceListIndex_initialLoad() {
        fn_ServiceList_LoadForm();
        
    }

        function fn_ServiceList_LoadForm() {

            $formContainer.load('@Url.Action("LoadFormCustFeedback", "CustFeedback")', function () {

                let $thisForm = $(this).find('[perfect-class="form"]');

                // ... Custom validation message
                $('.divaasignedto').hide();
                $('.divfollowupdate').hide();
                $('.divactiontype').hide();
                $thisForm.attr('perfect-onFormSuccess', 'fn_ServiceListIndex_initialLoad');
                initFunctions($thisForm);

            });
        }


      //////sideview list////
    


     //Edit servicefollowup

    

    

    </script>
}

