@{
    ViewBag.Title = "Location Track";

}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
</head>
<div class="container-fluid">
    
        
    <div class="row">
        <div class="col-lg-12" id="locationTrack-form"> </div>
    </div>
</div>
@section scripts{
<script>
        const $formContainer = $('#locationTrack-form');

        $(document).ready(function () {
            locationTrackInitialLoad();
        });

        var validationMessage = {
            'MenuGoupName': {
                'required': 'Please enter a group name',
                'maxlength': jQuery.validator.format(' Name should be less than {0} characters'),
                'stringonly': 'Special characters are not allowed in name'
            },
            'Date': {
                'required': 'Please select date '
            },
            'ModuleName': {
                'required': 'Please select module name'
            }
        };

        function locationTrackInitialLoad() {


            loadlocationTrackAddForm();

        }

        function loadlocationTrackAddForm() {

            $formContainer.load('@Url.Action("LoadLocationTrack", "LocationTrack")', function () {
                let $thisForm = $(this).find('[perfect-class="form"]');
                $thisForm.validate({ messages: validationMessage });
                $thisForm.find('[name="Date"]').val(moment().format('YYYY-MM-DD'));
                $thisForm.find('[name="BranchID"]').val('@ViewBag.FK_Branch').selectpicker('refresh');
                $thisForm.attr('perfect-onFormSuccess', 'menuGroupInitialLoad');
               
            });
            //abc()
    };
    @*function abc() {
        console.log("abc called"); 
       
            switch(@ViewBag.FK_UserRole) {
              case 14:
                // code block for Administrator
            $('#BranchID').prop('disabled', false);
                   $('#employeefromid').prop('disabled', false);
                break;
              case 17:
                // code block for Accounts Manager
                 $('#employeefromid').prop('disabled', false);
                    $('#BranchID').prop('disabled', true);
                    break;
                case 28:
                    // code block for Operation Manager
                    $('#BranchID').prop('disabled', true);
                   $('#employeefromid').prop('disabled', true);

                    break;
              default:
                // code block
            }
    };*@

    

    

</script>
}